<div class="emp-field emp-labelInput-composite">
    <div class="cui-label">
        {{~> _label this.label ~}}
        {{~> _input this.label noWrap=true~}}
    </div>
    <div class="cui-data">
        {{~> _label this.input ~}}
        {{~> _input this.input noWrap=true~}}
    </div>
</div>
