<div class="line-values-row">
    <div class="value-type">
        <span>{{this.valueLabel}}</span>
    </div>
    <div class="value-value">
        <span {{#ifCond v1=this.style op="===" v2="negative"}}class="emp-negative-number"{{/ifCond}}>{{this.valueVal}}</span>
    </div>
    <div class="value-notifier">
        {{#if this.valueNotifierText}}
            {{~> _notifier (formLineNotifier text=this.valueNotifierText color=this.valueNotifierColor tooltip=this.valueNotifierTooltip) scope="formLineNotifier" }}
        {{/if}}
    </div>
</div>
