<div class="emp-inline-sections">
    {{#each this}}
        {{#if this.type}}
            {{#ifCond v1=this.type op="===" v2="section"}}
                 {{#rendererHook (extendData this) scope="inlineSection"}}{{/rendererHook}}
            {{/ifCond}}
        {{/if}}
    {{/each}}
</div>
