<div class="emp-popover-group emp-auth-user-group">
    <div class="emp-auth-real-name">{{realName}}</div>
    <div class="emp-auth-company-name">{{companyName}}</div>
    <div class="emp-auth-user-id">{{userid}}</div>
</div>
