<div class="emp-popover-group emp-account-group">
    <div class="emp-account-type">
        <span class="emp-static-key">Account:</span>
        <span class="emp-static-value">{{account}}</span>
    </div>
    <div class="emp-account-role">
        <span class="emp-static-key">Role:</span>
        <span class="emp-static-value">{{role}}</span>
    </div>
</div>
