<div class="rating">
	<div class="emp-field">
		{{#if this.label~}}
			{{> _label this.label readOnly="true"~}}
		{{/if~}}

		<div class="cui-data">
			<div class="emp-rating-stars-container {{#ifCond v1=this.readOnly op="boolCheck" v2="true"}}emp-rating-readonly{{/ifCond}}">
				{{#ifCond v1=this.readOnly op="boolCheck" v2="true"~}}
					{{#repeat 0 5 1~}}
				    <span class="emp-rating-star {{#ifCond v1=this op="ratingIndex" v2=../this.hidden.input.attributes.value}}emp-selected-star{{/ifCond}} data-starindex="{{#incrementValue this 1}}{{/incrementValue}}">
				        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
				          <polygon fill="none" stroke="#FFFFFF" points="17.958 21.421 12.149 18.341 6.35 21.438 7.448 14.896 2.745 10.268 9.232 9.303 12.125 3.345 15.037 9.294 21.529 10.238 16.84 14.88 "/>
				        </svg>
				    </span>
				    {{/repeat~}}
                    <span id="{{this.hidden.input.attributes.id}}" class="emp-rating-value cui-hide-from-screen">Rating: {{this.hidden.input.attributes.value}}</span>
                {{~else~}}
                    {{#repeat 0 5 1~}}
                    <a role="button" class="emp-rating-star {{#ifCond v1=this op="ratingIndex" v2=../this.hidden.input.attributes.value}}emp-selected-star{{/ifCond}} data-starindex="{{#incrementValue this 1}}{{/incrementValue}}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24">
                          <polygon fill="none" stroke="#FFFFFF" points="17.958 21.421 12.149 18.341 6.35 21.438 7.448 14.896 2.745 10.268 9.232 9.303 12.125 3.345 15.037 9.294 21.529 10.238 16.84 14.88 "/>
                        </svg>
                    </a>
                    {{/repeat~}}
			        {{~> _field this.hidden ~}}
                {{/ifCond~}}
			</div>
		</div>
	</div>
</div>
