<div class="emp-tp-info-joint" id="emp-tp-info-joint">
    <div class="cui-row">
        <div class="emp-tp-indicators">
            {{#if this.notifiersAndControls~}}

                {{#each this.notifiersAndControls~}}

                    {{~> (getPartialName this.template) this section="globalHeader" scope="globalHeader" ~}}

                {{/each~}}

            {{/if~}}

        </div>
    </div>
    <div class="cui-row">
        <div class="emp-tp-joint-id">
            <div class="emp-field">
                <div class="cui-label">
                    <span class="emp-label">Associated ID:</span>
                </div>
                <div class="cui-data">
                    <span class="emp-data">
                        {{#if this.id~}}
                            {{~this.id~}}
                        {{/if~}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="cui-row">
        <div class="emp-tp-joint-name">
            <div class="emp-field">
                <div class="cui-label">
                    <span class="emp-label">Associated Name:</span>
                </div>
                <div class="cui-data">
                    <span class="emp-data">
                        {{#if this.name~}}
                            {{~this.name~}}
                        {{/if~}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
