<div class="cui-row" id="headerID">
    <div class="emp-search-box-field">
        <div class="emp-field">
            <div class="cui-label">
                <label class="cui-hide-from-screen" for="HEADER_ID_TYPE">Header ID type</label>
                {{~> _field search.headerID.select ~}}
            </div>
            <div class="cui-data" id="search-box-inputs">
                {{~> _searchBoxInputs selection=search.headerID.select.input.value values=(getSearchBoxInputs selected=search.headerID.select.input.value values=search.headerID.defaultValues readOnly=search.headerID.readOnly)~}}
            </div>
        </div>
    </div>
</div>
