<div class="emp-page-title">
    <div class="emp-text">
        {{#if this.mode}}
        <h2>{{this.title}}<span>{{this.mode}}</span></h2>
        {{else}}
        <h2>{{this.title}}</h2>
        {{/if}}
    </div>
</div>
