//   ========================================================
// * @desc       Teal theme settings for Empire
// * @see        https://github.com/ny/frg-coreui
//   ========================================================

// * @section    Colors
// * --------------------------------------------------------

// Colors from the graphics team's mockup
// Numbers go in order from darkest (1) to lightest. The line comments do not include all instances where the color is used, just enough to give you an idea.
$emp-themecolor-1:  #007681; // Site logo, accented text, primary buttons
//$emp-themecolor-1: #09464C; // Site logo, accented text, primary buttons
$emp-themecolor-2:  #7FA9AE; // Main menu
$emp-themecolor-3:  #B6CFD0; // Sub-group headers, maybe not being used anymore?
$emp-themecolor-4:  #DAEBEC; // TP header background, group headers

$emp-grey-1:  #101820; // Group toggle icon
$emp-grey-2:  #1C1C1C; // Text
$emp-grey-3:  #363636; // Datepicker uses this
$emp-grey-4:  #555555; // Table header background
$emp-grey-5:  #707070; // Tabset background, table cell border
$emp-grey-6:  #808589; // Group border
$emp-grey-7:  #8C8E91; // Button border
$emp-grey-8:  #A7A8AA; // Input border
$emp-grey-9:  #BBBCBD; // Button background
$emp-grey-10: #D0D0CE; // Joint TP border
$emp-grey-11: #D4D4D4; // Tabset title background, TP header background
$emp-grey-13: #EBEBEB; // Joint TP background
$emp-grey-14: #F4F4F4; // Input background

// New on 9/8/15, need to be reordered:
$emp-grey-12: rgb(239, 239, 239); // Table alternate row background
$emp-grey-15: rgb(204, 204, 204); // Search box border
$emp-grey-16: rgb(238, 238, 238); // Search box background
$emp-grey-17: rgb(221, 221, 221); // Table header background

$emp-red-1:   #ee3300; // Required asterisk, icons
$emp-red-2:   rgb(163,  46,  42); // Notifiers, indicators, notifications badge

$emp-grey-med-dark: #707070; // From graphics mockup
$emp-grey-dark:     #363636; // From graphics mockup

// Cluster official branding
$frg-yellow:      #ffd100;


// * @section    General settings
// * --------------------------------------------------------
$emp-accent-color:      $emp-themecolor-2;
$cui-text-color:        $emp-grey-2;
$emp-label-color:       $emp-grey-2;
$cui-heading-color:     $cui-color-dark-gray-alt;
$cui-heading-color-alt: $cui-color-dark-gray-alt-2;
$cui-link-color:        $emp-themecolor-1;
$cui-link-color-hover:  $emp-themecolor-2;
$cui-button-bg-color:     white;
$cui-button-border-color: $emp-grey-7;
$cui-color-error-text:    $emp-red-2;
// $cui-color-warning-text:  $frg-yellow;


// * @section    Empire header
// * --------------------------------------------------------
$emp-header-bg-color:       $emp-grey-11;
$emp-header-logo-color:     white;
$emp-header-logo-bg-color:  $emp-themecolor-1;
$emp-header-favorites-color:   transparent;
$emp-header-links-color:       $emp-grey-2;
$emp-header-links-color-hover: $emp-themecolor-2;


// * @section    Menu
// * --------------------------------------------------------
$emp-menu-bg-color: $emp-themecolor-2;
$emp-menu-border: none;


// * @section    Taxpayer header
// * --------------------------------------------------------
$emp-tp-header-bg-color: $emp-themecolor-4;
$emp-workflow-bg-color:  $emp-tp-header-bg-color;
$emp-tp-header-margin:   6px $emp-margin; // Not used directly, but sets the value of another variable below

$emp-search-box-sendid-color: $cui-link-color;
$emp-tp-header-separator-border-top-small:  1px solid lighten(#a5c9ff, 4%);


$emp-tp-info-main-border-top-color: $emp-grey-1;
$emp-tp-info-main-border-top:    $emp-tp-info-width $emp-tp-info-style $emp-tp-info-main-border-top-color;

$emp-tp-info-joint-bg-color:     $emp-grey-13;
$emp-tp-info-joint-border-color: $emp-grey-2;
$emp-tp-info-joint-border-bottom-color: $emp-grey-1;
$emp-tp-info-joint-border:       $emp-tp-info-width $emp-tp-info-style $emp-tp-info-joint-border-color;
$emp-tp-info-joint-border-bottom:       $emp-tp-info-width $emp-tp-info-style $emp-tp-info-joint-border-bottom-color;


// * @section    Tabset
// * --------------------------------------------------------
$emp-tabset-color:             white;
$emp-tabset-color-selected:    darken($emp-tabset-color, 15%);
$emp-tabset-bg-color:          $emp-grey-med-dark;
$emp-tabset-bg-color-hover:    lighten($emp-tabset-bg-color, 28%);
$emp-tabset-border-color:      $emp-tabset-bg-color;

$emp-tabset-item-color-selected: $cui-text-color;
$emp-tabset-item-bg-color-selected: rgba(255, 255, 255, 0.75);
$emp-tabset-item-border-color: transparent;
$emp-tabset-item-border:       1px solid $emp-tabset-border-color;
$emp-tabset-item-border-color-selected: rgba(255, 255, 255, 0.4);
$emp-tabset-item-border-selected:   1px solid $emp-tabset-item-border-color-selected;


// * @section    Search box
// * --------------------------------------------------------
$emp-search-box-bg-color:          $emp-grey-16;
$emp-search-box-bg-color-accent:   $emp-grey-15;

$emp-search-box-button-area-bg-color:   $emp-search-box-bg-color-accent;
$emp-search-box-button-retrieve-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);

$emp-search-box-toggle-icon-bg-color:    $emp-grey-2;
$emp-search-box-toggle-icon-width:       32px;
$emp-search-box-toggle-icon-height:      32px;

// When collapsed
$emp-search-box-collapsed-border:        1px solid $emp-search-box-button-area-bg-color;
$emp-search-box-collapsed-bg-color:      $emp-search-box-button-area-bg-color;


$emp-search-box-search-fields-border-top:    0.75em solid $emp-search-box-bg-color-accent;
$emp-search-box-search-fields-border-right:  $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border-bottom: $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border-left:   $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border:        $emp-search-box-search-fields-border-top $emp-search-box-search-fields-border-right $emp-search-box-search-fields-border-bottom $emp-search-box-search-fields-border-left;

$emp-search-box-getid-color: $cui-link-color;


// * @section    Indicators
// * --------------------------------------------------------
$emp-indicator-color:          white;
$emp-indicator-link-color:     $emp-indicator-color;
$emp-indicator-bg-color:       $emp-red-2;
$emp-indicator-bg-color-hover: $emp-red-1;
$emp-indicator-border:         1px solid rgb(84, 6, 8); //TODO: move this color to a variable. Comes from the graphics team's mockup. (CP)


// * @section    As of
// * --------------------------------------------------------


// * @section    Fields
// * --------------------------------------------------------
$cui-input-border-color:       $emp-grey-8;

$cui-button-primary-bg-color:           $emp-themecolor-1;
$cui-button-primary-bg-color-hover:     $emp-themecolor-2;
$cui-button-primary-border-hover-color: $emp-themecolor-1;

$emp-search-box-button-retrieve-bg-color:         $cui-button-primary-bg-color;
$emp-search-box-button-retrieve-bg-color-hover:   $cui-button-primary-bg-color-hover;

// Popover and title indications
$emp-data-has-title-underline-color: $emp-accent-color;
$emp-table-has-popover-bg-color:     $emp-data-has-title-underline-color;
$emp-table-has-popover-border-color: lighten($cui-text-color, 30%);


// * @section    Headers
// * --------------------------------------------------------
$emp-group-header-color:         $cui-text-color;
$emp-group-header-bg-color:      $emp-themecolor-4;
$emp-subgroup-header-color:      $cui-text-color;


// * @section    Groups
// * --------------------------------------------------------
$emp-group-border-color:          $emp-grey-6;
$emp-group-border:                $emp-group-border-color $emp-group-border-width $emp-group-border-style;

$emp-group-header-border-color:   $emp-group-border-color;
$emp-group-header-border-width:   $emp-group-border-width;
$emp-group-header-border-style:   $emp-group-border-style;
$emp-group-header-border:         $emp-group-header-border-color $emp-group-header-border-width $emp-group-header-border-style;
$emp-group-header-border-bottom:  $emp-group-header-border-color $emp-group-header-border-width $emp-group-header-border-style;

$emp-group-header-bg-color-collapsed:     $cui-color-white;
$emp-group-header-border-color-collapsed: darken($emp-group-header-bg-color-collapsed, 18);


// * @section    Tables
// * --------------------------------------------------------
$emp-table-header-button-margin: 0 0 0 0.5em;


$emp-table-header-bgcolor:     $emp-grey-17;
$emp-table-header-color:       $emp-label-color;
$emp-table-cell-border-color:  $emp-grey-5;
$emp-table-cell-border:        $emp-table-cell-border-width $emp-table-cell-border-style $emp-table-cell-border-color;

$cui-table-row-bg-alt-color:   $emp-grey-12;
$cui-table-row-bg-hover-color: $emp-themecolor-4;

$emp-table-highlight: rgba(255, 235, 59, 0.5);
$emp-table-highlight-hover: darken($emp-table-highlight, 5%);
