//   ========================================================
// * @desc       Hazel theme settings for Empire
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    Colors
// * --------------------------------------------------------
// Colors from http://www.colorcombos.com/color-schemes/117/ColorCombo117.html
$emp-themecolor-1:  #6D5652; // Site logo, accented text, primary buttons
$emp-themecolor-2:  #6192B5; // Main menu
$emp-themecolor-3:  #D1DFEB; // Sub-group headers, maybe not being used anymore?
$emp-themecolor-4:  #E1E9F0; // TP header background, group headers

$emp-grey-1:  #101820; // Group toggle icon
$emp-grey-2:  #1C1C1C; // Text
$emp-grey-3:  #363636; // Datepicker uses this
$emp-grey-4:  #555555; // Table header background
$emp-grey-5:  #707070; // Tabset background, table cell border
$emp-grey-6:  #808589; // Group border
$emp-grey-7:  #8C8E91; // Button border
$emp-grey-8:  #A7A8AA; // Input border
$emp-grey-9:  #BBBCBD; // Button background
$emp-grey-10: #D0D0CE; // Joint TP border
$emp-grey-11: #D4D4D4; // Tabset title background, TP header background
$emp-grey-13: #EBEBEB; // Joint TP background
$emp-grey-14: #F4F4F4; // Input background

// New on 9/8/15, need to be reordered:
$emp-grey-12: rgb(239, 239, 239); // Table alternate row background
$emp-grey-15: rgb(204, 204, 204); // Search box border
$emp-grey-16: rgb(238, 238, 238); // Search box background
$emp-grey-17: rgb(221, 221, 221); // Table header background

$emp-red-1:   rgb(204,  0,  0); // Required asterisk, icons
$emp-red-2:   rgb(163,  46,  42); // Notifiers, indicators, notifications badge

$emp-grey-med-dark: #707070; // From graphics mockup
$emp-grey-dark:     #363636; // From graphics mockup


// * @section    Fonts
// * --------------------------------------------------------
$cui-text-size: 14px;
$cui-font-family:  "Open Sans", $cui-font-basic;
$cui-text-font:    "Open Sans", $cui-font-basic;
$cui-font-heading: "Promixa Nova", $cui-font-basic;


// * @section    General settings
// * --------------------------------------------------------
$emp-images-path:   "../../dist/images/";
$emp-padding:       10px;
$emp-margin:        $emp-padding;
$emp-accent-color:  $emp-themecolor-2;
$cui-text-color:    $emp-grey-2;
$emp-label-color:   $emp-grey-2;
$cui-heading-color: $cui-color-dark-gray-alt;
$cui-heading-color-alt: $cui-color-dark-gray-alt-2;
$cui-input-color:   $cui-text-color;
$cui-link-color:    darken($emp-themecolor-2, 30%);
$cui-link-color-hover: $emp-themecolor-2;
$cui-button-bg-color:     white;
$cui-button-border-color: $emp-grey-7;
$cui-color-error-text:    $emp-red-2;
$cui-button-font-size:    $cui-font-size;
$cui-button-text-shadow: none;


// * @section    Empire header
// * --------------------------------------------------------
$emp-header-min-height:     48px;
$emp-header-bg-color:       $emp-grey-11;
$emp-header-logo-color:     white;
$emp-header-logo-bg-color:  $emp-themecolor-1;
$emp-header-logo-font-size: 20px;
$emp-header-border: none;
$emp-header-favorites-color: transparent;
$emp-header-links-color:       $emp-grey-2;
$emp-header-links-color-hover: $emp-themecolor-2;
$emp-tabset-title-margin: 0 0 0 0.5em;


// * @section    Menu
// * --------------------------------------------------------
$emp-menu-bg-color: $emp-themecolor-2;
$emp-menu-border: none;


// * @section    Taxpayer header
// * --------------------------------------------------------
$emp-tp-header-bg-color:     $emp-themecolor-4;
$emp-tp-header-padding:      0; // 1.25em $emp-padding;
$emp-tp-header-margin:       6px $emp-margin; // Not used directly, but sets the value of another variable below

$emp-tp-header-button-width:  5.5em;
$emp-tp-header-button-margin: 0 auto 0.5em auto;

$emp-tp-header-tp-info-row-margin:  0 0 0.15em 0;
$emp-tp-header-tp-info-main-width:  5em;
$emp-tp-header-tp-info-joint-width: 9em;
$emp-tp-header-tp-info-line-height: 1.5;

$emp-search-box-sendid-color: $cui-link-color;
$emp-search-box-sendid-font-weight: 600;
$emp-search-box-sendid-underline:       underline;
$emp-search-box-sendid-underline-hover: none;

$emp-tp-header-workflow-button-margin:  -0.3em 0.2em 0 0;
$emp-tp-header-workflow-go-margin-left: 0.3em;

$emp-tp-header-separator-padding-top-small: 0.55em;
$emp-tp-header-separator-padding-top-large: 0;
$emp-tp-header-separator-margin-top-small:  0.55em;
$emp-tp-header-separator-margin-top-large:  0;
$emp-tp-header-separator-border-top-small:  1px solid lighten(#a5c9ff, 4%);
$emp-tp-header-separator-border-top-large:  none;

$emp-tp-info-joint-bg-color:     $emp-grey-13;
$emp-tp-info-joint-border-color: $emp-grey-1;
$emp-tp-info-joint-border-width: 1px;
$emp-tp-info-joint-border-style: solid;
$emp-tp-info-joint-border:       $emp-tp-info-joint-border-width $emp-tp-info-joint-border-style $emp-tp-info-joint-border-color;

$emp-workflow-bg-color: $emp-tp-header-bg-color;


// * @section    Page title
// * --------------------------------------------------------
$emp-page-title-padding-top:    0.5em; // Unchanged
$emp-page-title-padding-right:  0;     // Unchanged
$emp-page-title-padding-bottom: 0.5em; // Unchanged
$emp-page-title-padding-left:   0.5em;
$emp-page-title-padding:        $emp-page-title-padding-top $emp-page-title-padding-right $emp-page-title-padding-bottom $emp-page-title-padding-left;
$emp-page-title-separator-content: "\00BB";
$emp-page-title-separator-margin: 0 0.5em 0 0.25em; // Left margin is smaller because we are assuming there is whitespace between the page title and the `<span>`


// * @section    Tabset
// * --------------------------------------------------------
$emp-tabset-color:             white;
$emp-tabset-color-selected:    darken($emp-tabset-color, 15%);
// $emp-tabset-margin:            0.5em 0 0.25em 0;
$emp-tabset-border-color:      transparent;
$emp-tabset-bg-color:          $emp-grey-med-dark;
$emp-tabset-bg-color-hover:    lighten($emp-tabset-bg-color, 28%);
$emp-tabset-border-color:      $emp-tabset-bg-color;
$emp-tabset-title-padding-top: 2px;

// $emp-tabset-list-padding-right: 24px;
// $emp-tabset-item-margin: 0.2em 0.4em 0.2em 0;
$emp-tabset-item-color-selected: $cui-text-color;
$emp-tabset-item-bg-color-selected: rgba(255, 255, 255, 0.75);
$emp-tabset-item-anchor-height:  2.7em;
$emp-tabset-item-anchor-padding: 0 0.7em;
$emp-tabset-item-border-color: transparent;
$emp-tabset-item-border:       1px solid $emp-tabset-border-color;
$emp-tabset-item-border-color-selected: rgba(255, 255, 255, 0.4);
$emp-tabset-item-border-selected:   1px solid $emp-tabset-item-border-color-selected;
$emp-tabset-item-text-decoration: underline;
$emp-tabset-item-text-decoration-hover: none;
$emp-tabset-item-text-decoration-selected: none;


// * @section    Search box
// * --------------------------------------------------------
$emp-search-box-min-height:    8em; // Should give enough height for the buttons
$emp-search-box-padding:       0;
// $emp-search-box-margin:        $emp-tp-header-margin;

$emp-search-box-row-margin-top:    0;
$emp-search-box-row-margin-right:  0;
$emp-search-box-row-margin-bottom: 0.35em;
$emp-search-box-row-margin-left:   $emp-search-box-row-margin-right;
$emp-search-box-row-margin:        $emp-search-box-row-margin-top $emp-search-box-row-margin-right $emp-search-box-row-margin-bottom $emp-search-box-row-margin-left;
$emp-search-box-bg-color:          $emp-grey-16;
$emp-search-box-bg-color-accent:   $emp-grey-15;

$emp-search-box-button-area-width:          10em;
$emp-search-box-button-area-padding-top:    1em;
$emp-search-box-button-area-padding-left:   0;
$emp-search-box-button-area-padding-bottom: $emp-search-box-button-area-padding-top;
$emp-search-box-button-area-padding-right:  0.5em;
$emp-search-box-button-area-padding:        $emp-search-box-button-area-padding-top $emp-search-box-button-area-padding-right $emp-search-box-button-area-padding-bottom $emp-search-box-button-area-padding-left;
$emp-search-box-button-area-bg-color:       $emp-search-box-bg-color-accent;
$emp-search-box-button-retrieve-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);

$emp-search-box-toggle-icon-bg-color:    $emp-grey-2;
$emp-search-box-toggle-icon-width:       32px;
$emp-search-box-toggle-icon-height:      32px;

// When collapsed
$emp-search-box-collapsed-border:        1px solid $emp-search-box-button-area-bg-color;
$emp-search-box-collapsed-bg-color:      $emp-search-box-button-area-bg-color;

// $emp-search-box-button-margin-top:          0;
// $emp-search-box-button-margin-right:        0;
// $emp-search-box-button-margin-bottom:       0.5em;
// $emp-search-box-button-margin-left:         0;
// $emp-search-box-button-margin:              0 0 0.5em 0;


$emp-search-box-search-fields-margin:         0 8.5em;
$emp-search-box-search-fields-padding-top:    0.25em;
$emp-search-box-search-fields-padding-right:  0.25em;
$emp-search-box-search-fields-padding-bottom: $emp-search-box-search-fields-padding-top;
$emp-search-box-search-fields-padding-left:   $emp-search-box-search-fields-padding-right;
$emp-search-box-search-fields-padding:        $emp-search-box-search-fields-padding-top $emp-search-box-search-fields-padding-right $emp-search-box-search-fields-padding-bottom $emp-search-box-search-fields-padding-left;

$emp-search-box-search-fields-border-top:    0.75em solid $emp-search-box-bg-color-accent;
$emp-search-box-search-fields-border-right:  $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border-bottom: $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border-left:   $emp-search-box-search-fields-border-top;
$emp-search-box-search-fields-border:        $emp-search-box-search-fields-border-top $emp-search-box-search-fields-border-right $emp-search-box-search-fields-border-bottom $emp-search-box-search-fields-border-left;

$emp-search-box-getid-color: $cui-link-color;
$emp-search-box-getid-font-weight: 600;
$emp-search-box-getid-underline:       underline;
$emp-search-box-getid-underline-hover: none;


// * @section    Indicators
// * --------------------------------------------------------
$emp-indicator-color:          white;
$emp-indicator-link-color:     $emp-indicator-color;
$emp-indicator-bg-color:       $emp-red-2;
$emp-indicator-bg-color-hover: $emp-red-1;
$emp-indicator-border:         1px solid rgb(84, 6, 8); //TODO: move this color to a variable. Comes from the graphics team's mockup. (CP)
$emp-indicator-padding-top:    7px;
$emp-indicator-padding-right:  8px;
$emp-indicator-padding-bottom: $emp-indicator-padding-top - 1;
$emp-indicator-padding-left:   $emp-indicator-padding-right;
$emp-indicator-padding:        $emp-indicator-padding-top $emp-indicator-padding-right $emp-indicator-padding-bottom $emp-indicator-padding-left;
$emp-indicator-icon-url:       $emp-images-path + "emp-notifier-popup.png";
$emp-indicator-icon-width:     13px;
$emp-indicator-icon-height:    13px;


// * @section    As of
// * --------------------------------------------------------
$emp-as-of-button-width:    2em;
$emp-as-of-button-margin:   0.1em 0.5em;


// * @section    Fields
// * --------------------------------------------------------
$emp-label-width:              230px;
$emp-data-padding-left:        4px;
$emp-data-padding:             0 $emp-data-padding-left 0 0;
$emp-data-font-weight:         600; // Semibold
$cui-input-border-color:       $emp-grey-8;
$emp-input-date-width:         6.6em;
$emp-input-currency-width:     13em;
$emp-read-only-currency-width: 12.1em;

$cui-button-primary-bg-color:           $emp-themecolor-1;
$cui-button-primary-bg-color-hover:     $emp-themecolor-1;
$cui-button-primary-border-hover-color: $emp-themecolor-2;

$emp-search-box-button-retrieve-bg-color:         $cui-button-primary-bg-color;
$emp-search-box-button-retrieve-bg-color-hover:   $cui-button-primary-bg-color-hover;

// Popover and title indications
$emp-data-has-title-underline-color: $emp-accent-color;
$emp-table-has-popover-bg-color:     $emp-data-has-title-underline-color;
$emp-table-has-popover-border-color: lighten($cui-text-color, 30%);


// * @section    Headers
// * --------------------------------------------------------
$emp-group-header-font-size:     18px;
$emp-group-header-min-height:    38px;
$emp-group-header-color:         $cui-text-color;
$emp-group-header-bg-color:      $emp-themecolor-4;
$emp-subgroup-header-color:      $cui-text-color;
// $emp-subgroup-header-bg-color:   $emp-themecolor-3; // Not used in this theme
$emp-h1-font-size:               1.45em;
$emp-h2-font-size:               1.7em;
$emp-h4-font-size:               1.35em;
$emp-header-font-size:           1em;
$emp-data-button-padding:        6px 12px;
$emp-data-button-margin-top:     -3px;
$emp-data-button-margin-left:    0;
$emp-data-button-vertical-align: initial;
$emp-label-max-width:            2em;


// * @section    Groups
// * --------------------------------------------------------
$emp-group-padding-top:           0;
$emp-group-padding-right:         0;
$emp-group-padding-bottom:        $emp-padding;
$emp-group-padding-left:          0;
$emp-group-padding:               $emp-group-padding-top $emp-group-padding-right $emp-group-padding-bottom $emp-group-padding-left;
$emp-group-margin:                0.75em 0 1em 0;
$emp-group-margin-desktop:        0.75em 0.5em 0.75em 0.5em;
$emp-group-subgroup-margin:       0.75em 0.25em 1em 0.25em; // Same top/bottom as `$emp-group-margin`

$emp-group-row-padding-top:       0;
$emp-group-row-padding-right:     $emp-group-padding-bottom;
$emp-group-row-padding-bottom:    $emp-group-row-padding-top;
$emp-group-row-padding-left:      $emp-group-padding-bottom;
$emp-group-row-padding:           $emp-group-row-padding-top $emp-group-row-padding-right $emp-group-row-padding-bottom $emp-group-row-padding-left;
$emp-group-row-padding-desktop:   $emp-group-row-padding-top 0 $emp-group-padding-bottom 0;

$emp-group-row-margin-top:        0;
$emp-group-row-margin-right:      0;
$emp-group-row-margin-bottom:     0;
$emp-group-row-margin-left:       0;
$emp-group-row-margin:            $emp-group-row-margin-top $emp-group-row-margin-right $emp-group-row-margin-bottom $emp-group-row-margin-left;

$emp-group-col-padding-top:       4px;
$emp-group-col-padding-right:     0;
$emp-group-col-padding-bottom:    2px;
$emp-group-col-padding-left:      0;
$emp-group-col-padding:           $emp-group-col-padding-top $emp-group-col-padding-right $emp-group-col-padding-bottom $emp-group-col-padding-left;

$emp-group-border-color:          $emp-grey-6;
$emp-group-border-width:          1px;
$emp-group-border-style:          solid;
$emp-group-border:                $emp-group-border-color $emp-group-border-width $emp-group-border-style;
$emp-group-border-radius:         $cui-border-radius-small;

$emp-group-header-border-color:   $emp-group-border-color;
$emp-group-header-border-width:   $emp-group-border-width;
$emp-group-header-border-style:   $emp-group-border-style;
$emp-group-header-border:         $emp-group-header-border-color $emp-group-header-border-width $emp-group-header-border-style;
$emp-group-header-border-bottom:  $emp-group-header-border-color $emp-group-header-border-width $emp-group-header-border-style;

// Not used in this theme
// $emp-subgroup-header-border-color: $emp-group-border-color;
// $emp-subgroup-header-border-width: $emp-group-border-width;
// $emp-subgroup-header-border-style: $emp-group-border-style;
// $emp-subgroup-header-border:       $emp-subgroup-header-border-color $emp-subgroup-header-border-width $emp-subgroup-header-border-style;

$emp-group-header-bg-color-collapsed:     $cui-color-white;
$emp-group-header-border-color-collapsed: darken($emp-group-header-bg-color-collapsed, 18);

$emp-group-header-padding-top:    0;
$emp-group-header-padding-right:  0;
$emp-group-header-padding-bottom: 0;
$emp-group-header-padding-left:   0;
$emp-group-header-padding:        $emp-group-header-padding-top $emp-group-header-padding-right $emp-group-header-padding-bottom $emp-group-header-padding-left;
$emp-group-header-margin:         9px 0;

$emp-group-controls-button-margin: 0 0 0 0.75em;

$emp-group-field-margin:          auto 0;
$emp-group-field-padding-top:     2px;

$emp-group-color-difference:      2%;
$emp-group-element-margin:        0 0 0.25em 0;
$emp-flexgrid-col-min-width:      3em;

$emp-group-in-section-container-margin:         1em 0 0.25em 0 !important;
$emp-group-in-section-container-padding:        0 4px 0 8px;
$emp-group-in-section-container-border-spacing: 3px 0;


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------


// * @section    Tables
// * --------------------------------------------------------
$emp-table-padding-top:              0;
$emp-table-padding-right:            0;
$emp-table-padding-bottom:           $emp-table-padding-top;
$emp-table-padding-left:             $emp-table-padding-right;
$emp-table-padding:                  $emp-table-padding-top $emp-table-padding-right $emp-table-padding-bottom $emp-table-padding-left;

$emp-table-margin-top:               1.5em;
$emp-table-margin-right:             0.75em;
$emp-table-margin-bottom:            0;
$emp-table-margin-left:              $emp-table-margin-right;
$emp-table-margin:                   $emp-table-margin-top $emp-table-margin-right $emp-table-margin-bottom $emp-table-margin-left;

$emp-table-header-cell-padding-top:      $emp-padding;
$emp-table-header-cell-padding-right:    6px;
$emp-table-header-cell-padding-bottom:   $emp-table-header-cell-padding-top;
$emp-table-header-cell-padding-left:     $emp-table-header-cell-padding-right;
$emp-table-header-cell-padding:          $emp-table-header-cell-padding-top $emp-table-header-cell-padding-right $emp-table-header-cell-padding-bottom $emp-table-header-cell-padding-left;

$emp-table-header-button-margin: 0 0 0 0.5em;

$emp-table-header-row-margin-default: 6px;

$emp-table-cell-vertical-padding-difference: 6px;
$emp-table-body-cell-padding:        ($emp-table-header-cell-padding-top - $emp-table-cell-vertical-padding-difference) ($emp-table-header-cell-padding-right) ($emp-table-header-cell-padding-bottom - $emp-table-cell-vertical-padding-difference) ($emp-table-header-cell-padding-left);

$emp-table-header-bgcolor:     $emp-grey-17;
$emp-table-header-color:       $emp-label-color;
$emp-table-cell-border-width:  1px;
$emp-table-cell-border-style:  solid;
$emp-table-cell-border-color:  $emp-grey-5;
$emp-table-cell-border:        $emp-table-cell-border-width $emp-table-cell-border-style $emp-table-cell-border-color;

$emp-table-cell-min-height:    $cui-button-icon-height + $emp-table-header-cell-padding-top - $emp-table-cell-vertical-padding-difference + $emp-table-header-cell-padding-bottom - $emp-table-cell-vertical-padding-difference;

$emp-table-field-padding-diff:   3;
$emp-table-field-padding-top:    $cui-input-padding-top - $emp-table-field-padding-diff;
$emp-table-field-padding-right:  $cui-input-padding-right - $emp-table-field-padding-diff;
$emp-table-field-padding-bottom: $cui-input-padding-bottom - $emp-table-field-padding-diff;
$emp-table-field-padding-left:   $cui-input-padding-left - $emp-table-field-padding-diff;
$emp-table-field-padding:        $emp-table-field-padding-top $emp-table-field-padding-right $emp-table-field-padding-bottom $emp-table-field-padding-left;

$cui-table-row-bg-alt-color: $emp-grey-12;

$emp-table-highlight: rgba(255, 235, 59, 0.5);
$emp-table-highlight-hover: darken($emp-table-highlight, 5%);
