// Popover container
.emp-faves-popover {
    padding: 5px 0 0 0;
    line-height: 1.5;
    color: #373a3c;
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    z-index: 15; // Higher than the table sticky headers which are `10`
    border: $emp-group-border;
    width: 320px;

    @include pointbreak($cui-bp-medium) {
        width: 400px;
    }

    .theme-teal & {
        @import "../../../../../scss/_theme_teal.scss";
        border: $emp-group-border;
    }

    .theme-lilypad & {
        @import "../../../../../scss/_theme_lilypad.scss";
        border: $emp-group-border;
    }

    .theme-eggplant & {
        @import "../../../../../scss/_theme_eggplant.scss";
        border: $emp-group-border;
    }

    .theme-cobalt & {
        @import "../../../../../scss/_theme_cobalt.scss";
        border: $emp-group-border;
    }

    ul {
        list-style: none outside none;
    }
}

.emp-faves-wrapper {
    border-bottom: none;
}

.emp-faves-header {
    display: flex;
    padding-top: $cui-header-padding-bottom;
    padding-bottom: 0;
    border-bottom: 1px solid #D9D9D9;

    h1 {
        flex: 0 1 100%;
        font-size: 18px;
        cursor: default;
        padding-left: 12px;
    }
}

// Toggle icon (star)

// Star icon for toggling the Favorites popover
#emp-header-favorites {
    @include col-fluid($width: 60px);
    min-width: 60px; // Make sure we know its width so we can center the image
    min-height: $emp-header-min-height;
    color: $emp-header-favorites-color;
    cursor: pointer;
    text-indent: 100%;
    white-space:nowrap;
    overflow:hidden;

    .emp-header-favorites-icon{
        top:50%;
        left:50%;
        width:32px;
        height:32px;

        background-image: url($emp-images-path + "emp-star-outline.svg");
        background-color: transparent; // Must be transparent, otherwise the container spills out of the header bar when the icon rotates
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-position: center center;
        transform-origin:center;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: transform 75ms ease-out;
        position:absolute;

        @media print {
            .ie &{
                background-image: url($emp-images-path + "emp-star-outline.png");
            }
        }
    }

    @media print {
        overflow:visible; //Add overflow for correct appearance of printing in IE.
    }

    &:active,
    &:focus {
        outline: none; // Override UA styles when the element has `[role="button"]`
    }

    .theme-teal & {
        @import "../../../../../scss/_theme_teal.scss";
        color: $emp-header-favorites-color;
    }

    .theme-lilypad & {
        @import "../../../../../scss/_theme_lilypad.scss";
        color: $emp-header-favorites-color;
    }

    .theme-eggplant & {
        @import "../../../../../scss/_theme_eggplant.scss";
        color: $emp-header-favorites-color;
    }

    .theme-cobalt & {
        @import "../../../../../scss/_theme_cobalt.scss";
        color: $emp-header-favorites-color;
    }

    // Image
    img {
        width: 32px;
        height: 32px;
        margin-top: 8px; // (container height - image height) / 2
        margin-left: 14px; // (container width - image width) / 2
    }

    // When the popover is open
    &.emp-active .emp-header-favorites-icon{
        transform-origin:center;
        transform: translate(-50%, -50%) rotate(-72deg);
    }

    // When the current tabset is a favorite
    &.emp-selected .emp-header-favorites-icon {
        background-image: url($emp-images-path + "emp-star-filled.svg");

        .theme-teal &{
            background-image: url($emp-images-path + "emp-star-filled-teal.svg");
        }
    }
}

// Buttons

// 'Add Folder' and 'Edit' buttons
.emp-faves-button-add-folder,
.emp-faves-button-edit {
    [role="button"] {
        cursor: pointer;
        margin: 0 auto;
        @include hide-text;
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

// 'Add Folder' button
.emp-faves-button-add-folder {
    flex: 0 1 36px;
    min-width: 36px;
    padding: 0;

    [role="button"] {
        background-image: url($emp-images-path + "emp-folder-add.svg");
        background-size: 24px 24px;
        background-position: center 100%;
    }
}

// 'Edit' and 'Done' buttons
.emp-faves-button-edit,
.emp-faves-button-done {
    padding: 0;
    text-align: center;
}

// 'Edit' button
.emp-faves-button-edit {
    display: none;
    flex: 0 1 48px;
    min-width: 48px;

    .emp-faves-haslinks & {
        display: block;
    }

    .emp-faves-editmode & {
        display: none;
    }

    div {
        width: 100%;
    }

    [role="button"] {
        margin-top: 2px;
        background-image: url($emp-images-path + "emp-pencil.png");
        background-size: 20px 20px;
    }
}

// 'Done' button
.emp-faves-button-done {
    display: none;
    flex: 0 1 48px;
    min-width: 48px;

    .emp-faves-editmode & {
        display: block;
    }

    // Override button styles; need to add another class for specificity
    .emp-faves-editmode & button.cui-button-primary {
        @include fontSize(12px);
        padding: 6px 4px;
        margin-top: 4px;
    }

    div {
        width: 100%;
    }
}
