$feta-tooltip-bg-color: $cui-color-warning-background !default;
$feta-tooltip-border-color: $cui-color-warning-border !default;
$feta-tooltip-border-radius: $cui-border-radius !default;
$feta-tooltip-padding: ($cui-paragraph-padding) !default;
$feta-tooltip-box-shadow: none !default;
