#body-wrapper {
    main {
        .error-page-overrides {
            margin-top: 2em;
            min-height: 75px;
            .cui-row {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}
