//   ========================================================
// * @name       _global.scss
// * @desc       Empire global styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150206
// * @see        https://github.com/ny/frg-empire
//   ========================================================


// * @section    General styles
// * --------------------------------------------------------
body {
    color: $cui-text-color;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-text-color;
    // }   
}

.emp-confirm-modal .cui-modal-footer-content button {
    float: right;
    margin-left: 10px;
}

.emp-print-only{
    .emp-ui-mockup-table-print-containers{
        margin:5px 16px;
        padding:3px;
        font-size:12px;    
        border:solid thin #ccc;
        display: flex;
        flex-wrap:wrap;

        p{
            font-size:12px;             
            box-sizing: border-box;           
            padding-bottom:4px;
            flex:0 1 50%;
            line-height: normal;
        }

        .emp-ui-mockup-table-print-header{
            font-weight: bold;
            margin-bottom:5px;
            flex:0 1 100%;
        }
    }
}

.emp-ui-mockup-table-print-header {
    margin-bottom: 10px;
}

html {

    @for $i from 16 through 32 {
        @if $i % 2 == 0 {
            &.emp-fontsize-#{$i} body {

                .dpCal li {
                    font-size: 14px !important;
                }

            }
        }
    }
}

.cui-modal-body-content .cui-row {
    margin-bottom: 10px;
}

.cui-modal-body-content .cui-row:last-child {
    margin-bottom: 0;
}

.emp-region {

	& > .cui-row{
		padding:0 10px 0 10px;
		margin:0;
	}	

    &.emp-collapse {
        display: none;
    }
}
