//   ========================================================
// * @name       _grid.scss
// * @desc       Empire responsive grid styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150206
// * @see        https://github.com/ny/frg-empire
//   ========================================================

// * @section    Row and col structures
// * --------------------------------------------------------
.cui-row {
    #body-wrapper & {
        margin-bottom: 5px;

        @include pointbreak($cui-bp-large) {
            margin-bottom: 0;
        }
    }

    //prevent cut-off at bottom of page.
    @media print{
        page-break-inside: avoid;
    }
}

// * @section    Section grids
// * --------------------------------------------------------
section,
section.emp-tabs div.emp-tab-contents {
    @include section-row-spacing;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // @include section-row-spacing;
    // }

    .cui-row {
        @include pointbreak($cui-bp-large-minus, true) {
            padding-top: 5px;
            padding-bottom: 5px;

            .cui-label {
                line-height: 1.2;
            }
        }
    }
}

.cui-row {

    section {
        margin: 0;
    }

    .emp-col-full,
    .emp-col-half {
        overflow: hidden;

        &.emp-collapse {
            display: none;
        }
    }

    &.emp-divider-line + .cui-row {

        .emp-col-half,
        .emp-col-full {
            border-top: 1px solid #808589;
            padding-top: 15px;
        }

    }

    &.emp-collapse {
        display: none;
    }
}

.emp-col-half {
    margin: $emp-col-half-margin-small;
    padding: 0;
    position: relative;
    width: 100%;

    @include clearfix;

    @include pointbreak($cui-bp-medium) {
        float: left;
        padding: $emp-group-row-padding;
        margin: $emp-col-half-margin-medium;
        width: 50%;
    }

    // Right-aligned column with nothing to the left of it
    // Sticks to the left for small
    &.cui-pull-right {
        text-align: left;

        // Floats right for medium
        @include pointbreak($cui-bp-medium) {
            text-align: left;
            float: right;
        }

        // Floats and aligns right for large
        @include pointbreak($cui-bp-large) {
            text-align: left;
        }
    }

    // Inside button groups
    .emp-button-group & {
        // The left and right sides often have different amounts of buttons so a 50/50 split doesn't work (one side may wrap unnecessarily). So we use `table-cell` to let them divide the width as needed.
        // This causes extra padding to the right of the .emp-col-half containers
        // display: table-cell;
        // width: auto;
        // float: none;
    }

    &.emp-col-push-half {
        @include pointbreak($cui-bp-medium) {
            margin-right: 50% !important;
            padding-left: 10px !important;
        }

        @include pointbreak($cui-bp-large) {
            padding-right: 0.6em;
        }
    }

    &.emp-col-pull-half {
        @include pointbreak($cui-bp-medium) {
            margin-left: 50% !important;
            padding-left: 10px !important;
        }

        @include pointbreak($cui-bp-large) {
            padding-left: 0.6em;
        }
    }
}

@include pointbreak($cui-bp-medium) {
    section .cui-row > .emp-col-half:nth-child(1),
    section .emp-button-row > .emp-col-half:nth-child(1) {
        padding-left: 0;
    }
    section .cui-row > .emp-col-half:nth-child(2),
    section .emp-button-row > .emp-col-half:nth-child(2) {
        padding-right: 0;
    }
}

.emp-col-full,
.emp-asof-section {
    @include clearfix;
    flex-grow: 1;

    @include pointbreak($cui-bp-medium) {
        padding: $emp-group-row-padding;

        section & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.emp-asof-section {
    margin-bottom: 5px;
}


// * @section    Flexible grid
// * --------------------------------------------------------
.emp-flexgrid-row {
    display: table !important;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
    height: auto;

    // Override clearfix
    &:after {
        display: none;
    }
}

[class*="emp-flexgrid-col"] {
    display: table-cell;
    float: none;
    vertical-align: middle;
    height: 100%;

    // Override clearfix
    &:after {
        display: none;
    }

    &.filler {
        min-width: $emp-flexgrid-col-min-width;
    }
}

.emp-flexgrid-col-fixed-1 {
    width: $cui-button-icon-width;
    min-width: $cui-button-icon-width;
}

.emp-flexgrid-col-fixed-2 {
    width: $cui-button-icon-width * 2;
    min-width: $cui-button-icon-width * 2;
}

.emp-flexgrid-col-fixed-300 {
    @include set-fixed-width(300px);
}

// Orpts style merge
#body-wrapper {

    main, form {
        margin: 0;
    }

    .cui-row{
        min-height: 1.5em;

        @include pointbreak("720px"){
            margin: 0 auto 15px auto;
        }
    }

    [class*="emp-col"] .cui-label, section .cui-label{
        margin-top: 0px;
    }

    [class*="emp-col"] .cui-data{
        button:not(.emp-icon-popup-view-list), button:not(.cui-icon.cui-c-datepicker){
            padding-top: 5px;
        }
    }

    [class*="emp-col"] .cui-data{
        > button.cui-icon.cui-c-datepicker{
            //vertical-align: -webkit-baseline-middle;
        }
    }

    .emp-col-full{

    	&:last-child{
    		margin-bottom: 0 !important;
    	}


        .cui-label, .emp-check-other-checkbox .cui-data{
            padding-right: 15px;

            select{
                margin-bottom: 0.25em;
            }
        }

        .cui-data{
            input{
                margin-bottom: 0.25em;
            }

            @include pointbreak("720px", true){
                margin-top: 3px;
                margin-right: 3px;

                span{
                    margin-top: 0px;
                }
            }
        }

        .emp-field.cui-data-left .cui-data{
            padding-right: 15px;
        }

        .cui-data, .emp-field.cui-data-left .cui-label,
        .emp-check-other-checkbox .cui-label,
        fieldset .cui-label,
        .emp-input-collection,
        fieldset .cui-data .cui-selection-group{
            padding-left: 0px;
            margin-left: 0px;
        }

        .emp-composite.emp-search-composite .cui-label{
            left: 0px;
        }

        .emp-field .cui-data input:not([type="checkbox"]),
        .emp-field .cui-data select,
        .emp-search-composite .cui-data .emp-input-collection select,
        .emp-input-collection select,
        .emp-input-collection button,
        .emp-composite.emp-search-composite .cui-data input,
        .emp-composite.emp-search-composite .cui-data select,
        .emp-composite.emp-search-composite.emp-seach-composite-dynamic-label .cui-label select,
        .emp-composite.emp-search-composite .cui-data button:not(.emp-icon-popup-view-list) {
            min-height: 29px;
            max-height: 29px;
        }

        .emp-composite.emp-composite.emp-search-composite .emp-data{
            margin-top: 3px;
        }

        .emp-composite.emp-search-composite .cui-data.emp-search .emp-field > button{
            margin-left: 5px;
        }

        .emp-validation-error .cui-messages{
            padding: 0.1em 0px;
        }

        @include pointbreak("720px"){
            min-height: 1.5em;
            margin: 0px 16px !important;

            .emp-field:not(.cui-data-left){
                margin-bottom: 0px !important;

                > .cui-label label{
                    display: inline-block;
                }
            }

            .emp-field .cui-data .emp-icon-redcheck {
                margin-top: -6px;
            }

            .emp-field .cui-data .emp-icon-stop {
                margin-top: 0px;
            }

            .emp-composite.emp-search-composite.emp-validation-error .cui-label{
                margin-top: 4px;
            }

            fieldset:not(.emp-search-composite):not(.emp-yes-no-component) .cui-label legend{
                display: inline-block;
                margin-top: 5px;
            }

            .cui-label, .emp-check-other-checkbox .cui-data{
                padding-right: 15px;
            }

            .cui-label {
                min-height: 24px;
                label, span{
                    //vertical-align: sub;
                }
            }

            .cui-data{
                > input, span:not(.cui-input-append){
                    vertical-align: sub;
                }
            }

            .cui-data .emp-data{
                margin-top: 0px;
            }

            .cui-data-left .cui-data{
                margin-top: 0px;
            }

            .emp-field, section .emp-field{
                margin-bottom: 0px !important;
            }

            .cui-data-left.emp-boolean-image .cui-label{
                padding-top: 0px;
            }

            input, textarea, select{
                border-radius: 4px;
                border: 1px solid #bfbfbd;
                padding: 4px 6px 4px 6px;
                color: #333;
                -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
            }

            .cui-data.emp-search .emp-field>button.emp-icon-popup-view-list {
                margin-top: 0.2em;
                margin-left: 0.2em;
            }

            >.emp-field:not(.cui-data-left),
            .emp-select-other-selectbox .emp-field,
            .emp-check-other-describe .emp-field,
            .emp-select-other-describe .emp-field{
                //@include twoColGrid();

                align-items:baseline;

                .cui-label{
                    //width: auto;
                    text-align: right;
                    //-ms-grid-column: 1;
                    //-ms-grid-row: 1;

                }

                .cui-data{
                    //-ms-grid-column: 2;
                    //-ms-grid-row: 1;
                }

                &.cui-data-left .cui-label{
                    text-align: left;
                }
            }

            >.emp-field.cui-data-left, .emp-check-other-checkbox .cui-data-left{
                //@include twoColGrid();

                .cui-label{
                    //-ms-grid-column: 2;
                    //-ms-grid-row: 1;
                }

                .cui-data{
                    //width: auto;
                    //-ms-grid-column: 1;
                    //-ms-grid-row: 1;
                    text-align: right;
                }
            }

            .emp-composite.emp-search-composite.emp-validation-error{
                //@include twoColGrid();
                .cui-label{
                    //width: auto !important;
                    //-ms-grid-column: 1;
                    //-ms-grid-row: 1;
                }

                .cui-data{
                    //-ms-grid-column: 2;
                    //-ms-grid-row: 1;
                }

                .emp-composite-message{
                    //grid-column-start: 2;
                    //-ms-grid-column: 2;
                    //-ms-grid-row: 2;
                    //margin-left: 0px;
                }

            }

            .emp-composite.emp-search-composite.emp-seach-composite-dynamic-label,
            .emp-composite.emp-search-composite,
            fieldset.emp-search-composite{
                .cui-label, .cui-data{
                    //@include calcHalf();
                }

                .emp-field button.emp-icon-popup-view-list{
                    margin-top: 2px;
                }

                .cui-label{
                    text-align: right;

                    select{
                        margin-top: 0px;
                    }

                    legend{
                        width: auto;
                        text-align: right;
                    }
                }

                .cui-data{
                    margin-top: 0px;

                    .emp-input-collection .emp-field{
                        margin-top: 3px;
                    }
                }
            }

            fieldset{
                .cui-label, .cui-data{
                    //@include calcHalf();
                }

                .cui-label{
                    display: inline-block;
                    text-align: right;

                    legend{
                        width: auto;
                        text-align: right;
                    }
                }

                .cui-data{
                    display: inline-flex;
                }
            }

            fieldset.emp-composite.emp-entity-lookup{
                .cui-label, .cui-data{
                    width: unset;
                    min-width: unset;
                }
            }

            fieldset.emp-search-composite .cui-label{
                margin-top: 6px;
            }
        }

        @include pointbreak("720px", true){
            padding: 0px 15px;
        }

    }

    .emp-col-half{
        .emp-field{
            .cui-data {
                .emp-data{
                    margin-top: 0px;
                }

                input{
                    min-height: 29px;
                    max-height: 29px;
                }
            }
        }

        @include pointbreak("720px"){
            .cui-label label,span{
                //vertical-align: sub;
            }

            .cui-label,
            .emp-check-other-checkbox .cui-data,
            .emp-field.cui-data-left .cui-data{
                padding-right: 15px;
            }
        }

        @include pointbreak("720px", true){
            padding: 0px 15px;
        }
    }

    section .emp-button-group button{
        margin: 1em 0.2em 0;
    }

    .emp-button-group button{
        margin: 1em 0.2em 0;
    }

    .emp-inline-sections{
        @include pointbreak("720px", true){
            display: unset;
        }
    }

    fieldset.cui-required .cui-label{
        @include pointbreak("720px", true){
            display: flex;
            display: -webkit-flex;
            display: -webkit-flex;
            display: -webkit-flex;
            display: moz-box;
            display: ms-flexbox;
            display: inline-block;
        }
    }

    fieldset.emp-federal-data .cui-label legend:after{
        @include pointbreak("720px", true){
        }
    }

    fieldset .emp-fieldset-contents .emp-date{
        margin-right: 3px !important;
    }

    .emp-table table td{
        .emp-field{
            display: inline-block;

            & + button.emp-icon-help{
                margin-top: 3px;
            }
        }

        a + button.emp-icon-help,
        span + button.emp-icon-help{
            margin-top: -3px;;
        }
    }

    .emp-table .emp-table-controls .emp-header-controls{
        @include pointbreak("720px", true){
            display: inline-grid;
            display: -ms-inline-grid;

            .cui-label{
                margin-left: 0px;
            }

            .emp-composite{
                padding-left: 0px;
            }
        }
    }

    .emp-table .emp-table-controls .emp-footer-controls{
        .emp-composite{
          margin: 0px;
        }

        @include pointbreak("720px"){
            .cui-label label{
                vertical-align: sub;
            }
        }
    }

    .emp-table .emp-table-wrapper .emp-paging-container-advance .emp-paging-advance-controls button{
        margin-right: 3px;
    }

    .emp-table .emp-table-wrapper .emp-table-pagination {
        border: none;
        text-align: center;
    }

    .emp-table .emp-table-wrapper .emp-paging-container-advance span {
        margin-bottom: 6px;
    }

    .emp-table .emp-table-wrapper .table-control-row .emp-table-client-side-controls {
        display: block;
        float: none;
        position: relative;
    }

    .emp-table + .cui-row {
        padding-top: 0px !important;
    }

    .emp-table .table-control-col{
        input[type="radio"],
        input[type="checkbox"]{
            width: 16px;
            height: 16px;
        }
    }

    section {

        section.emp-instructional-header {

            header {
                display: flex;
                flex-direction: column;

                div.emp-section-controls {
                    flex: 0 1 auto !important;
                }
            }

        }

    }
}

.ie{
    .cui-data {
        > button.cui-c-datepicker{
            vertical-align: sub;
        }
    }
}

.cui-uiBox.cui-popover {

    .cui-popover-arrow {
        background: #fff6cc;
        border-left: 1px solid #ffe366;
        border-top: 1px solid #ffe366;
        color: transparent;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        top: -4px;
    }
}

.emp-tooltip-itag {
    background: #fff6cc;
    border: 1px solid #ffe366;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    max-width: 500px;

    p {
        padding: 0;
    }

    p:not(:last-child){
        margin-bottom:10px;
    }
    ol,
    ul{
        clear: both;
        padding-left: 1.6em;
        line-height: 1.2em;

        &:not(:last-child){
            margin-bottom:10px;
        }

        li{
            margin: 0.5em 0 0 1.2em;
        }
    }

    ul{
        list-style-type: disc;
    }
}

span.cui-input-append + button.cui-icon.emp-icon-help{
    margin: 2px 4px;
}

.emp-input-collection button.cui-icon.emp-icon-help{
    margin-bottom: 3px;
}

.emp-input-collection button.cui-c-datepicker{
    margin-top: -3px !important;
    //margin-left: -3px !important;
}

.emp-field-instructions {
    background: #FFF;
    display: none;
    padding: 10px;

    div > header {
        font-weight: bold;
    }

    &.showOnScreen {
        display: block;
    }

}

.emp-field.emp-hidden-field{
    min-height:0px;
    height:0px;
    padding:0px;
    margin:0px !important;
    overflow:hidden;
}

// .emp-page-title {
//     margin: 0 16px;
//     padding: 0.5em 0;
// }


// ===START: Form grid alignment using GRID===
@media (min-width: 720px){
	.external-app{

		.cui-row{

			.emp-col-half > fieldset:not(.emp-selection-list) > .emp-fieldset-contents,
			.emp-col-full > fieldset:not(.emp-selection-list)  > .emp-fieldset-contents,
			.emp-col-half > .emp-composite:not(.emp-selection-list),
            .emp-col-full > .emp-composite:not(.emp-selection-list),
            .emp-col-half > .emp-check-other-checkbox .cui-data-left,
			.emp-col-full > .emp-check-other-checkbox .cui-data-left,
			.emp-col-half > .emp-field,
			.emp-col-full > .emp-field{
                @include displayFlex;
				//@include twoColGrid();

				line-height: 0 !important;
				align-items:baseline !important;
				margin-top:.3em;
                overflow: visible;

				& > .cui-label{
                    @include calcHalf();
					//@include gridColumn(1);
					//@include gridRow(1);

					// Reset any defined widths
					//width: auto !important;
					//min-width:auto !important;

					display: inline-block !important;
					align-items: baseline !important;
					line-height: normal !important;
                	min-height: 1.5em;
					text-align: right;

                    &:not(.emp-top-align-label){
                    	justify-content:flex-end !important;
                    }

                    &.emp-top-align-label{
                    	//grid-column-start: 1 !important;
  						//grid-column-end: -1 !important;
  						//-ms-grid-span: 2 !important;
                    }
				}

				& > .cui-data{

                    // Reset any defined widths
                    @include calcHalf();
					//width: auto !important;
					//min-width:auto !important;

					//@include gridColumn(2);
					//@include gridRow(1);

					display: inline-flex !important;
                    flex-wrap: wrap;
                    align-items: baseline !important;
                    line-height: normal !important;
                    min-height: 1.5em;
                    overflow: visible;

    				input,
					select,
					textarea{
						min-width: 1px;
						max-width:100%;
					}

					input:not([type="checkbox"]),
					select{
						margin-right:6px !important;
					}

                    i{
                    	margin-top:0 !important;
                    	line-height: 1em !important;
                    }

    				.emp-icon-help{
    					margin-left: 2px !important;
					}


					.emp-icon-redcheck:after{
						top:2px !important;
					}

    				.cui-messages{
    					//width:100% !important;
    					display: flex;
    					flex:0 1 100%;
    					flex-direction:column;
                        align-items:flex-start;

                        .cui-error {
                            width: auto !important;
                        }
    				}

    				&.cui-currency{
    					.cui-input-append{
    						margin-left:-11px !important;

    						& + .emp-icon-help{
    							margin-left:8px !important;
    						}

    					}
    				}


				}

 				& > .emp-top-align-label + .cui-data{
                	//grid-column-start: 1 !important;
					//grid-column-end: -1 !important;
					//-ms-grid-span: 2 !important;
                	//@include gridRow(2);
                }

				& > .emp-composite-message{
					//@include gridColumn(2);
                    //@include gridRow(2);
                    margin-left: calc(50% - 5px);
				}

				&.cui-data-left{
					& > .cui-label{
						//@include gridColumn(2);
                        //@include gridRow(1);
                        text-align: left;
						justify-content:flex-start !important;
					}

					& > .cui-data{
						//@include gridColumn(1);
						//@include gridRow(1);
						justify-content:flex-end !important;
                        align-self:normal !important;
					}
				}
            }

            .emp-field.emp-top-align-label{
                flex-direction: column;

                .cui-label{
                    text-align: left !important;
                }

                .cui-label, .cui-data{
                    width: 100% !important;
                }
            }
		}
	}

	.external-app{

        .cui-row{
            .emp-col-half > fieldset:not(.emp-selection-list) > .emp-fieldset-contents,
            .emp-col-full > fieldset:not(.emp-selection-list)  > .emp-fieldset-contents,
            .emp-col-half > .emp-composite:not(.emp-selection-list) ,
            .emp-col-full > .emp-composite:not(.emp-selection-list) ,
            .emp-col-half > .emp-field,
            .emp-col-full > .emp-field{

                .cui-label {
                    // Break to indicate a field is not registered!
                    &.emp-unregistered-field {
                        label, span.emp-label {
                            display: none !important;
                        }
                    }

                    span.emp-label{
                        display: inline-block;
                    }
                }
            }
        }

		.ie{

			.cui-row{
				.emp-col-half > fieldset:not(.emp-selection-list) > .emp-fieldset-contents,
				.emp-col-full > fieldset:not(.emp-selection-list)  > .emp-fieldset-contents,
				.emp-col-half > .emp-composite:not(.emp-selection-list) ,
				.emp-col-full > .emp-composite:not(.emp-selection-list) ,
				.emp-col-half > .emp-field,
				.emp-col-full > .emp-field{


					// Simulate baseline offset since IE does not allow for grid alignment on baseline
					& > .cui-label{
						span,
						label,
						legend{
							display:inline-block !important;
							margin-top:5px !important;
                        }

                        // Break to indicate a field is not registered!
                        &.emp-unregistered-field {
                            label, span.emp-label {
                                display: none !important;
                            }
                        }
					}

					& > .cui-data{
						span.emp-data{
							margin-top:5px !important;
						}
					}
				}
			}
		}
    }
}
// ===END: Form grid alignment using GRID===


@media print {
    .emp-field-instructions {
        display: block !important;
    }
}


