//   ========================================================
// * @name       _link.scss
// * @desc       Empire anchor tag styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150206
// * @see        https://github.com/ny/frg-empire
//   ========================================================


// * @section    Link styles (except colors)
// * --------------------------------------------------------
a,
a:link,
a:active,
a:visited,
a:focus {
    font-weight: normal;
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}


// * @section    Link colors
// * --------------------------------------------------------
a,
a:link {
    color: $cui-link-color;
    text-decoration: underline;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-link-color;
    // }
}

a:hover,
a:focus {
    color: $cui-link-color-hover;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-link-color-hover;
    // }  
}

a:visited,
a:visited:hover {
    color: $cui-link-color-visited;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-link-color-visited;
    // }
 
}

a[role="button"] {
    cursor: pointer;
}

a {
    &:visited,
    &:visited:hover {

    }
}