


.external-app #body-wrapper{

	.emp-selection-list{
		legend{
			line-height:1.5em;
			padding-bottom:1em;
		}

		.emp-selection-list-field-container{
			max-width:800px;
			margin:0 auto;

			& > .emp-field.cui-data-left,
			& > .emp-selection-list-field-header > .emp-field.cui-data-left{
				
				padding:10px 10px 3px 10px;
				grid-template-columns: 20px auto;
				display: flex;								

				.cui-label{
					width:auto;
					min-width:1px;
					text-align: left;
					display: inline-flex;
				}

				.cui-data{
					width: auto;
					min-width: 0px;
					display: inline-flex;

					input{
						min-height: auto;
						top: 0px;

						&[type="radio"]{
							width: 16px;
							height: 16px;
							box-shadow: none;
						}
					}
				}
			}

			.emp-selection-list-field-body{						

				.cui-row:last-child{
					margin-bottom:0 !important;
					padding-bottom:10px;
				}
			}
		}

		.emp-selection-list-active{
			.emp-selection-list-field-header{
				overflow:hidden;
				background-color:#d5e3e4;
				border-radius: 4px 4px 0 0;
			    
			    -webkit-box-shadow: inset 0px 0px 0px 1px #d6d6d4;
			    -moz-box-shadow: inset 0px 0px 0px 1px #d6d6d4;
			    box-shadow: inset 0px 0px 0px 1px #d6d6d4;			    
			}
			.emp-selection-list-field-body{
				border-radius: 0 0 4px 4px;
				padding: 10px 10px 0px;					

				@include pointbreak($cui-bp-large) {
					padding: 10px 10px 0px;					
				}

		    	background-color: #f1f1f0;
    			
    			-webkit-box-shadow: inset 0px 0px 0px 1px #d6d6d4;
				-moz-box-shadow: inset 0px 0px 0px 1px #d6d6d4;
				box-shadow: inset 0px 0px 0px 1px #d6d6d4;
			}
		}
	}
}