//   ========================================================
// * @name       _text.scss
// * @desc       Empire text styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150206
// * @see        https://github.com/ny/frg-empire
//   ========================================================


// * @section    Text styles
// * --------------------------------------------------------

// Font family
body,
input,
select,
textarea,
button {
    font-family: $cui-font-family;
}

// Font size

body {
    // Just the one size, no other options (i.e. user prefs) because we don't want to affect the value of 1em and change the way all dimensions on the page are calculated
    font-size: $cui-font-size;
}

input,
select,
textarea,
button {
    @include fontSize($cui-font-size);
}

.emp-negative-number {
    color: $cui-color-error-text !important;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-color-error-text;
    // }
}

// * @section    Text size and font family
// * --------------------------------------------------------

.emp-search-box,
#form_workflow,
.emp-tp-info,
section,
section .cui-data {
    label,
    .cui-label legend,
    .cui-label .cui-legend,
    .cui-label span,
    input,
    input:not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]),
    button,
    select,
    textarea,
    .cui-data input,
    .cui-data button,
    .cui-data select,
    .cui-data textarea {
        @include fontSize($cui-text-size);
    }
}

p,
td,
th,
.emp-asof form div,
.emp-label,
.cui-label .cui-legend,
.emp-data,
ol,
ul {
    @include fontSize($cui-text-size);
}

label,
input,
button,
select,
textarea,
th,
td,
p,
.emp-asof form div,
.cui-label,
.cui-label legend,
.cui-label .cui-legend,
.emp-label,
.emp-data {
    font-family: $cui-text-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
.cui-message p {
    font-family: $cui-font-family;
}

// "Data" elements
.cui-data input,
.cui-data select,
.cui-data textarea,
.cui-data label, // e.g. updatable radio buttons
.cui-data-left .cui-label, // e.g. read-only radio buttons
.emp-data {
    font-weight: $emp-data-font-weight;
}

// * @section    H1-H6
// * -------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: $cui-heading-color;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-heading-color;
    // }
}

h1 {
    font-weight: 600;
    @include fontSize($emp-h1-font-size);
}

h2 {
    padding: 0;
    font-weight: 600;
    @include fontSize($emp-h2-font-size);
}

h3 {
}

h4 {
    @include fontSize($emp-h4-font-size);
}

h3,
h4 {
    padding-bottom: 1px;
    margin-bottom: 0.5em;
}

h5,
h6 {
    @include fontSize($emp-header-font-size);
    color: $cui-heading-color-alt;

    // .theme-teal & {
        // @import "../_theme_teal.scss";
        // color: $cui-heading-color-alt;
    // }
}

.emp-italic {
    font-style: italic;
}

.emp-tooltip-style{
    position: absolute;
}

.emp-bold {
    font-weight: 600;
}

.emp-force-uppercase {
    text-transform: uppercase;
}

// External orpts text


.external-app {
    .emp-asof div,
    [class*="emp-col"] .cui-label,
    [class*="emp-col"] .cui-label label,
    section .cui-label,
    section .cui-label label,
    .emp-composite.emp-search-composite.emp-seach-composite-dynamic-label .cui-label select,
    .emp-col-full.button-col.emp-button-group button:not(.cui-button-primary):not(.cui-button-selected),
    .emp-table th, tr{
        color: #333;
    }

    body,
    input,
    select,
    textarea,
    button,
    label,
    input,
    button,
    select,
    textarea,
    th,
    td,
    ol,
    ul li,
    p,
    .emp-add-remove-list-box .emp-add-remove-container .cui-data-left .cui-label label,
    .emp-add-remove-list-box .emp-order-list-container header,
    .emp-add-remove-list-box .emp-add-remove-container header,
    .emp-indicators li > span,
    .emp-indicators li > a,
    .emp-add-remove-list-box .emp-order-list-container ol li,
    .emp-tabs header a,
    .emp-asof form div,
    .cui-label,
    .cui-label legend,
    .cui-label .cui-legend,
    .emp-label,
    .emp-data {
        font-family: $cui-font-family;
        font-size: $cui-text-size;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .cui-message p {
        font-family: $cui-font-family;
    }

    input:not([type="checkbox"]):not([type="radio"]),
    textarea:not([type="checkbox"]):not([type="radio"]),
    select:not([type="checkbox"]):not([type="radio"]){
        box-shadow: rgba(0,0,0,0.1) 0 1px 1px 0 inset;
    }

    // * @section    Text size and font family
    // * --------------------------------------------------------

    .emp-search-box,
    #form_workflow,
    .emp-tp-info,
    section,
    section .cui-data {

        label,
        .cui-label legend,
        .cui-label .cui-legend,
        .cui-label span,
        input,
        input:not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]),
        button,
        select,
        textarea,
        .cui-data input,
        .cui-data button,
        .cui-data select,
        .cui-data textarea {
            @include fontSize($cui-text-size);
        }
    }

    section > header h3 {
        font-size: 18px;

        @include pointbreak("830px") {
            font-size: 21px;
        }
    }

    .cui-messages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;

        .cui-error,
        .cui-warning,
        .cui-success,
        .cui-informational {
            font-size: 16px !important;
            display: block;
            //width: 100%;
        }
    }

    .emp-field {
        .cui-label,
        .cui-data,
        select,
        textarea,
        input,
        span {
            font-size: $cui-text-size !important;
        }

        input,
        select,
        button,
        [role="button"],
        textarea,
        .cui-data {
            color: #333;
        }

        > span{
            font-weight: bold;
        }

        .cui-data{
            span, input, select{
                font-weight: bold;
            }

            textarea{
                font-weight: normal;
                line-height: normal;
            }
        }
    }

    .emp-total-line{
        .cui-data .emp-data{
            border-top: 2px solid #AAA;
        }
    }

    [class*="emp-total"]{
        .cui-label{
            font-weight: bold;
        }
    }

    .cui-data.cui-currency{
        display: flex;
        input, span{
            font-family: 'Open Sans';
            font-size: 15px !important;
        }

        input:not([size]), input[size="23"]{
            width: 220px;
        }

        input[size="20"]{
            width: 196px;
        }

        span:not(.cui-input-append){
            width: 218px;
            min-width: 218px;
            padding-right: 5px;
        }

        .cui-input-append {
            display: block;
            font-weight: bold;
            padding: 3px 6px 1px 0;
            margin-left: -7px;
            background: #dededc;
            height: 29px;
            width: auto;
            border-radius: 0 4px 4px 0;
            border: 1px solid #bfbfbd;
            font-size: 15px !important;
        }

        @media print{
            font-size: 12px;
            font-family: 'Arial';
        }
    }

    .cui-data-left .cui-data input[type="checkbox"]{
        height: 16px;
        width: 16px;
        top: 3px;
    }

    .cui-data {
        .emp-input-collection input[type="radio"] + label,
        .emp-input-collection input[type="checkbox"] + label,
        .cui-selection-group input[type="radio"] + label{
            // margin-left: -15px;
            // margin-right: 10px;
            cursor: pointer;
        }

        .emp-input-collection input[type="radio"],
        .cui-selection-group input[type="radio"]{
            opacity: 0;
            left: -9999px;

            & + label::before{
                content: "";
                border: 1px solid #454545;
                border-radius: 16px;
                display: inline-block;
                font-size: 16px;
                vertical-align: top;
                height: 16px;
                line-height: 16px;
                width: 16px;
                margin-right: 5px;
            }

            &:checked + label::before{
                content: "\2022";
                color: #454545;
                margin-right: 5px;
                line-height: 5px;
                font-size: 37px;
            }
        }
    }

    .cui-data {
        .emp-input-collection input[type="checkbox"]{
            opacity: 0;
            left: -9999px;

            & + label::before{
                content: "";
                border: 1px solid #454545;
                border-radius: 3px;
                display: inline-block;
                vertical-align: top;
                height: 16px;
                line-height: 16px;
                width: 16px;
                margin-right: 5px;
            }

            &:checked + label::before{
                content: "\2713";
                color: #454545;
                font-weight: bolder;
                margin-right: 5px;
                //line-height: 0px;
                font-size: 30px;
            }
        }
    }


    .emp-composite .cui-data input, fieldset .cui-data input{
        font-weight: bold;
    }

    fieldset{

        .emp-input-collection{
            select{
                font-weight: bold !important;
            }

            span{
                vertical-align: bottom !important;
                font-weight: normal;
                margin: 0px 5px;
            }

            label {
                font-weight: 400;
            }
        }
    }

    fieldset.emp-boolean-input-group{
        button.emp-icon-help{
            margin-top: -4px;
        }
    }

    .emp-sticky-caption {
        color: #333;
    }

    input:not([type="checkbox"]):not([type="radio"]),
    textarea:not([type="checkbox"]):not([type="radio"]),
    select:not([type="checkbox"]):not([type="radio"]){
        box-shadow: rgba(0,0,0,0.1) 0 1px 1px 0 inset;
    }

    .emp-table .emp-table-wrapper .table-control-row button {
        font-size: $cui-text-size !important;
    }

    .ie{
        @include pointbreak("720px"){
            .cui-data.cui-currency{
                .cui-input-append {
                    padding-top: 4px;
                }
            }
        }

        fieldset.date-range{
            button.cui-c-datepicker{
                vertical-align: middle !important;
            }
        }

    }
}


//firefox fix
@-moz-document url-prefix() {
    .cui-data.cui-currency{
        .cui-input-append {
            padding-top: 2px !important;
        }
    }
}

