// Core settings
@import "../../../../../cui/scss/_settings";
@import "../../../../../cui/scss/_utilities/_mixins";
// Implementer settings
@import "../../_settings";
// Project settings
@import "../../../../scss/_settings";
@import "../../../../scss/_utilities/_mixins";

// Component styles:

// Outer popover element
.emp-ntf-popover {
    //background-color: #fff6cc;
    border: 1px solid #555;
    width: 400px;
    border-radius: $cui-border-radius;
}

// Main contents
.emp-ntf-wrapper {
    & > header {
        margin-bottom: 10px;

        h1 {
            text-align: center;
        }
    }

    // Message list
    & > ul {
        list-style: none outside none;
        padding: 0;

        li {
            border-bottom: 1px solid #555555;
            padding-bottom: 20px;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 10px;
            }
        }

    }

    & > footer {
        display: flex;
        text-align: center;

        .emp-ntf-link-to-page {
            flex: 0 1 100%;
            text-align: left;
            padding-left: 8px;
        }

        .emp-ntf-controls {
            flex: 0 1 100%;
            text-align: right;
            padding-right: 8px;
        }
    }

    &.emp-ntf-has-no-messages > footer {
        disply: block;

        .emp-ntf-link-to-page {
            width: 100%;
            text-align: center;
        }

        .emp-ntf-controls {
            display: none;
        }
    }

    > .emp-ntf-no-messages {
        padding-top: 0 !important;
    }

    // a {
    //     cursor: pointer;
    // }
}

// Message container
.emp-ntf-entry-wrapper { // `<li>`
    display: block;
    padding: 10px 10px 10px 25px;
    margin: 8px;
    //background-color: rgba($cui-color-warning-background, 0.2);
    //border: 1px solid $cui-color-warning-border; // #ffe366;
    //cursor: pointer;

    &:first-child {
        // Prevent this element's sharp corners from overlapping the popover's rounded corners
        border-top-right-radius: $cui-border-radius;
        border-top-left-radius: $cui-border-radius;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: lighten(#fff6cc, 5%);
    }

    &.emp-ntf-priority {
        position: relative;

        &:before {
            position: absolute;
            top: 10px;
            left: 5px;
            content: " ";

            // Image - natural size is 24x24
            width: 16px;
            height: 16px;
            background-image: url($emp-images-path + "emp_Exclamation.svg");
            background-size: 16px 16px;
        }
    }

    header {
        margin-bottom: 8px;
    }

    footer {
        margin: 8px 0;
        @include fontSize(12px);
        text-align: right;
        padding-bottom: 0; // Override `body footer`
    }
}

a.emp-ntf-entry-title { // Tag name needed for specificity over `a, a:link` (but why?)
    font-weight: bold;
    float: left;
}

.emp-ntf-entry-timestamp {
    @include fontSize(12px);
    text-align: right;
    float: right;
    //border-bottom: 1px #666 dotted;
}

.emp-ntf-entry-timestamp-tooltip {
    z-index: 2;
}

// Sections/lines
.emp-ntf-line-wrapper {
    @include row;
    max-width: 100%;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.emp-ntf-line-label { // `<label>`
    @include col(0 1 auto);
    min-width: 80px;
    @include fontSize(14px);
    color: #666;
    margin-right: 1em;
    cursor: pointer; // Override the user agent's `<label>` style since we want to use `pointer` for the whole widget
}

.emp-ntf-line-data { // `<div>`
    @include col(0 1 auto);
    min-width: 80px;
    @include fontSize(14px);
}

.emp-ntf-no-messages { // `<p>`
    @include fontSize(18px);
    text-align: center;
    padding-top: 1em;
}

.emp-ntf-marked-as-read {
    opacity: 0.5;

    &,
    &:hover {
        background-color: white;
    }
}

.emp-ntf-closeWrapper {
    height: 18px;

    .emp-ntf-close-button {
        border: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
        color: #666666;
        z-index: 1110;
        background: none;

        &:hover {
            color: #000000;
            background:none;
        }

        &:after {
            content: "\00D7";
            position: absolute;
            top: 4px;
            right: 10px;
            text-indent: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            overflow: hidden; // This prevents awkward bumps from appearing in the outline when the button has focus since the pseudo-element is taller than the button itself
        }
    }
}
