<!DOCTYPE html>
<html class="external-app emp-orpts-subtheme" lang="en">

<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<title>Template - External Template</title>
	<link href="../../../dist/css/main.css" media="all" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- ==================== -->
	<!-- UNIVERSAL HEADER     -->
	<!-- ==================== -->
	<div id="header-wrapper">
		<div class="unav-agency-wrapper">
			<div class="unav-header">
				<div class="unav-header-links">
					<ul>
						<li>
							<a href="https://ny.gov/services" target="_blank">Services</a>
						</li>
						<li>
							<a href="https://www.governor.ny.gov/news" target="_blank">News</a>
						</li>
						<li>
							<a href="https://ny.gov/agencies" target="_blank">Government</a>
						</li>
						<li>
							<a href="https://ny.gov/local" target="_blank">Local</a>
						</li>
					</ul>
				</div>
				<div class="unav-primary-bar">
					<div class="unav-header-logo">
						<a href="#"><span class="accessibly-hide-text">New York State Home</span></a>
					</div>
					<div class="unav-toggle-arrow">
						<a href="#" role="button"><span class="accessibly-hide-text">Expand Mobile Universal Menu</span></a>
					</div>
				</div>
			</div>
			<div class="agency-header">
				<div class="banner-toggle" id="banner-toggle">
					<button class="nys-logo banner-button"><span>Toggle New York State Banner</span></button>
				</div>
				<div class="agency-title">
					<a href="#"><span>Department of</span> <span>Taxation and Finance</span></a>
				</div>
				<ul class="agency-support-login">
					<li><button><span class="label">Test User</span></button></li>
					<li><button><span class="label">Get Support</span></button></li>
				</ul>
			</div>
		</div>
		<!-- ==================== -->
		<!-- GLOBAL HEADER        -->
		<!-- ==================== -->
		<header class="emp-global-header external-view oprts-theme">
			<div class="application-header">
				<button class="menu-button"><svg height="20" version="1" viewbox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 3h18v3H1zM1 9h18v3H1zM1 15h18v3H1z" fill="#454545"></path>
					</svg> <span>Menu</span></button>
				<h1 class="application-title">Application Title</h1>
			</div>
		</header>
	</div>
	<div id="body-wrapper">
		<main>
			<!-- ==================== -->
			<!-- PAGE INFORMATION     -->
			<!-- ==================== -->
			<div class="emp-page-info">
				<!-- ==================== -->
				<!-- PAGE TITLE           -->
				<!-- ==================== -->
				<div class="emp-page-title">
                    <div class="emp-text">
                        <h2>Page Title <span>Subtitle</span></h2>
                    </div>
				</div>
				<!-- ==================== -->
				<!-- PAGE INSTRUCTIONS    -->
				<!-- ==================== -->
				<div class="emp-page-instructions" id="emp-page-instructions">
					<p>Page instructions would go here.</p>
					<ul>
						<li>Bulled instruction 1</li>
						<li>Bulled instruction 2</li>
					</ul>
				</div>
				<!-- ==================== -->
				<!-- PAGE LEGEND          -->
				<!-- ==================== -->
				<div class="emp-page-legend">
					<div class="emp-legend">
						<span class="cui-required"></span>
						<span>Required field</span>
					</div>
					<div class="emp-legend">
						<button class="cui-icon emp-icon-help emp-page-itags" title="More information" type="button">More information</button>
						<span>To learn more about a particular field</span>
					</div>
                </div>
                <ul class="cui-messages emp-messages">
                    <li class="cui-error">Error message. This is a long error message so that it wraps and I can make sure it looks ok and better than its equivalent on empire 1.0. Many errors can be displayed at once. So is this enough text to make it wrap? I guess it depends on your browser width? Well I think this is more than enough. If not, nice monitor!</li>
                    <li class="cui-warning">Warning message. Displays information about certain things that need to be considered before continuing.</li>
                    <li class="cui-informational">Informational message. Provide some information to assist in making the right decisions or something.</li>
                    <li class="cui-success">Successful message. Something {noun} was successfully something {verb}. Most of the times only one of this type of message shows per page submission.</li>
                </ul>
			</div>
			<!-- ==================== -->
			<!-- PAGE MESSAGES        -->
			<!-- ==================== -->
			<form action="tax.ny.gov" autocomplete="off" method="post">
				<!-- ==================== -->
				<!-- PAGE CONTENT         -->
				<!-- ==================== -->

				<!-- ++++++++++++++++++++++++++++++++ -->
				<!-- SECTION: .Mockup                 -->
				<!-- ++++++++++++++++++++++++++++++++ -->
				<section class="emp-no-collapse">
					<header>
						<div class="emp-section-title">
							<h3>Form fields</h3>
						</div>
					</header>
					<div class="cui-row emp-section-instructions">
						<div class="emp-col-full">
							<p>Sample for group instructions.. Please fill out the field below</p>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<span class="emp-label">Read only:</span>
								</div>
								<div class="cui-data">
									<span class="emp-data">Read only value</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_TEXT_FIELD">Text field:</label>
								</div>
								<div class="cui-data">
									<input id="MOCKUP_TEXT_FIELD" maxlength="30" size="20" type="text" value="" aria-required="true">
									<button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_SELECT">Select:</label>
								</div>
								<div class="cui-data">
									<select id="MOCKUP_SELECT" aria-required="true">
										<option>Select one</option>
										<option value="1">Option 1</option>
										<option value="2">Option 2</option>
									</select>
									<button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_DATE">Date:</label>
								</div>
								<div class="cui-data">
									<input class="emp-date" id="MOCKUP_DATE" size="11" maxlength="10" type="text" aria-required="true"/>
									<!-- Temp: cui-c-datepicker component should render the code below -->
									<button class="cui-icon cui-c-datepicker" id="cal_MOCKUP_DATE" title="Date picker" type="button">Date picker</button>
									<button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<fieldset class="date-range">
								<div class="emp-fieldset-contents" role="group" aria-labelledby="fieldset-dateRange">
									<div class="cui-label">
										<legend id="fieldset-dateRange">Date range:</legend>
									</div>
									<div class="cui-data">
										<div class="emp-input-collection">
											<div class="emp-field">
												<label for="MOCKUP_DATE_BEGIN" class="cui-hide-from-screen">Begin date</label>
												<input type="text" class="emp-date" id="MOCKUP_DATE_BEGIN" size="11" maxlength="10" />
												<button class="cui-icon cui-c-datepicker" id="cal_MOCKUP_DATE_BEGIN" title="Date picker" type="button">Date picker</button>
											</div>
											<div class="emp-field">
												<span>to</span>
											</div>
											<div class="emp-field">
												<label for="MOCKUP_DATE_END" class="cui-hide-from-screen">End date</label>
												<input type="text" class="emp-date" id="MOCKUP_DATE_END" size="11" maxlength="10" />
												<button class="cui-icon cui-c-datepicker" id="cal_MOCKUP_DATE_END" title="Date picker" type="button">Date picker</button>
											</div>
											<div class="emp-field">
												<button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_DESCRIPTION">Description:</label>
								</div>
								<div class="cui-data">
									<textarea aria-required="true" cols="50" id="MOCKUP_DESCRIPTION" rows="6">Vestibulum sit amet justo venenatis, imperdiet lorem gravida, maximus quam. In quis lacus posuere, vestibulum urna nec, viverra mauris. Integer hendrerit odio vitae neque porta, ac consectetur mi malesuada. In molestie elit a interdum fringilla. Mauris venenatis fermentum magna vel facilisis.</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<span class="emp-label">Read only amount ($):</span>
								</div>
								<div class="cui-data cui-currency">
									<span class="emp-data" id="MOCKUP_CURRENCY_RO">789,123,567,901.12</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_CURRENCY">Currency field ($):</label>
								</div>
								<div class="cui-data cui-currency">
									<input id="MOCKUP_CURRENCY" aria-required="true" maxlength="20" size="23" type="text" value="">
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_CURRENCY_DECIMAL">Currency with decimal ($):</label>
								</div>
								<div class="cui-data cui-currency">
									<input aria-required="true" id="MOCKUP_CURRENCY_DECIMAL" maxlength="20" size="20" type="text" value="">
									<span class="cui-input-append">.00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field emp-total-line">
								<div class="cui-label">
									<span class="emp-label">Total with line ($):</span>
								</div>
								<div class="cui-data cui-currency">
									<span class="emp-data" id="EC_TWL">602.00</span>
								</div>
							</div>
						</div>
					</div>

					<div class="cui-row">
						<div class="emp-col-full">
							<fieldset class="emp-yes-no-component emp-boolean-input-group cui-required">
								<div class="emp-fieldset-contents" role="group" aria-labelledby="fieldset-radio-button-field">
									<div class="cui-label">
										<legend id="fieldset-radio-button-field">Radio button field?</legend>
									</div>
									<div class="cui-data">
										<div class="emp-input-collection">
											<div class="emp-field cui-data-left">
												<input id="MOCKUP_RADIO_YES" name="MOCKUP_RADIO" type="radio" value="">
												<label for="MOCKUP_RADIO_YES">Yes</label>
											</div>
											<div class="emp-field cui-data-left">
												<input checked="checked" id="MOCKUP_RADIO_NO" name="MOCKUP_RADIO" type="radio" value="2">
												<label for="MOCKUP_RADIO_NO">No</label>
											</div>
										</div>
										<button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

					 <div class="cui-row">
                        <div class="emp-col-full">
                            <fieldset class="emp-yes-no-component emp-boolean-input-group">
                            	<div class="emp-fieldset-contents" role="group" aria-labelledby="fieldset-dynamic-field">
	                                <div class="cui-label">
	                                    <legend id="fieldset-dynamic-field">Dynamic radio button?:</legend>
	                                </div>
	                                <div class="cui-data">
	                                    <div class="emp-input-collection">
	                                        <div class="emp-field cui-data-left">
	                                            <input name="MOCKUP_EXPANDABLE_YES_NO" id="MOCKUP_EXPANDABLE_YES" value="y" type="radio" aria-controls="expandableC_section_1" aria-expanded="true" class="emp-expandable-control">
	                                            <label for="MOCKUP_EXPANDABLE_YES">Yes</label>
	                                        </div>
	                                        <div class="emp-field cui-data-left">
	                                            <input name="MOCKUP_EXPANDABLE_YES_NO" id="MOCKUP_EXPANDABLE_NO" value="N"
	                                                type="radio">
	                                            <label for="MOCKUP_EXPANDABLE_NO">No</label>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
                            </fieldset>
                        </div>
                    </div>
					<div class="emp-region emp-collapse" id="expandableC_section_1">
						<div class="cui-row">
							<div class="emp-col-full">
								<div class="emp-field cui-required">
									<div class="cui-label">
										<label for="MOCKUP_DY_TEXT_FIELD">Dynamic input:</label>
									</div>
									<div class="cui-data">
										<input id="MOCKUP_DY_TEXT_FIELD" maxlength="30" size="20" type="text" value="" aria-required="true">
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>

				<!-- ++++++++++++++++++++++++++++++++ -->
				<!-- SECTION: .Address read only      -->
				<!-- ++++++++++++++++++++++++++++++++ -->
				<section class="emp-no-collapse">
					<header>
						<div class="emp-section-title">
							<h3>Address read only</h3>
						</div>
					</header>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<span class="emp-label">Mailing address:</span>
								</div>
								<div class="cui-data">
									<span class="emp-data" id="MOCKUP_ADDRESS_RO">100 First Street<br />Albany, NY 12345-1234<br />United States</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ++++++++++++++++++++++++++++++++ -->
				<!-- SECTION: .Address editable       -->
				<!-- ++++++++++++++++++++++++++++++++ -->
				<section class="emp-no-collapse">
					<header>
						<div class="emp-section-title">
							<h3>Address editable</h3>
						</div>
					</header>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<label for="MOCKUP_ATTENTION">Attention:</label>
								</div>
								<div class="cui-data">
									<input id="MOCKUP_ATTENTION" maxlength="30" size="30" type="text" value="">
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_STREET_ADDRESS">Street address:</label>
								</div>
								<div class="cui-data">
									<input id="MOCKUP_STREET_ADDRESS" maxlength="30" size="30" type="text" value="" aria-required="true">
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_CITY">City:</label>
								</div>
								<div class="cui-data">
									<input id="MOCKUP_CITY" maxlength="18" size="18" type="text" value="" aria-required="true">
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<label for="MOCKUP_STATE">U.S. state/Canadian province:</label>
								</div>
								<div class="cui-data">
									<select id="MOCKUP_STATE" aria-required="true">
										<option value="NY">New York</option>
										<option value="FL">Florida</option>
										<option value="ME">Maine</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field">
								<div class="cui-label">
									<label for="MOCKUP_ZIPCODE">ZIP/Postal code:</label>
								</div>
								<div class="cui-data">
									<input id="MOCKUP_ZIPCODE" maxlength="10" size="10" type="text" value="">
								</div>
							</div>
						</div>
					</div>
					<div class="cui-row">
						<div class="emp-col-full">
							<div class="emp-field cui-required">
								<div class="cui-label">
									<label for="MOCKUP_COUNTRY">Country:</label>
								</div>
								<div class="cui-data">
									<select id="MOCKUP_COUNTRY" aria-required="true">
										<option value="US">United States</option>
										<option value="EN">England</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</section>




				<!-- +++++++++++++++++++++++++++++++ -->
				<!-- SECTION: Sample Pivot Table -->
				<!-- +++++++++++++++++++++++++++++++ -->
				<!-- Use this table as the standard default if you dont want to allow users to pick columns -->
				<section>
					<header>
						<div class="emp-section-title">
							<h3>Sample table - pivot</h3>
						</div>
					</header>
					<div class="emp-table">
						<table data-sticky="false" data-buttonMenu="false" data-type="pivot" id="responsive-example">
							<thead>
								<tr>
									<th class="emp-sortable" data-sort="alpha" data-table-column-priority="1" data-type="alpha">Text</th>
									<th class="emp-sortable" data-sort="date" data-table-column-priority="2" data-type="alpha" data-help="iMockup">	Text with help tags</th>
									<th class="emp-sortable" data-sort="alpha" data-table-column-priority="3" data-table-responsive-type="primary" data-type="alpha">Link</th>
									<th class="emp-sortable" data-sort="numeric" data-table-column-priority="4" data-table-responsive-type="secondary" data-type="alpha">Link with help tag</th>
									<th class="emp-sortable" data-sort="alpha" data-table-column-priority="5" data-type="alpha">Date</th>
									<th class="emp-sortable" data-sort="alpha" data-table-column-priority="6" data-type="alpha">Taxpayer ID</th>
									<th class="emp-sortable" data-sort="alpha" data-table-column-priority="7" data-type="numeric" class="cui-currency">Amount($)</th>
                                    <th data-type="button" title="Remove" class="emp-min-width">
                                        <span class="cui-hide-from-screen">Remove</span>
                                    </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>John</td>
									<td>Smith</td>
									<td><a href="#">QWE-543</a></td>
									<td><a href="#">QWE-543</a><button class="cui-icon emp-icon-help" data-tooltip-source="iMockup" title="More information" type="button">More information</button></td>
									<td>03/04/1986</td>
									<td>XXX-XXX-1234</td>
									<td class="cui-currency">1,750.00</td>
                                    <td class="emp-min-width">
                                        <button class="emp-icon-delete" id="MOCKUP_REMOVE">Remove</button>
                                    </td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

			</form>
		</main>
	</div>
	<div id="footer-wrapper">
		<!-- ==================== -->
		<!-- GLOBAL FOOTER        -->
		<!-- ==================== -->
		<footer class="emp-global-footer orpts-theme">
			<ul>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/accessibility.htm" target="_blank" title="This will open a new window to the Web Site Accessibility page">Accessibility</a>
				</li>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/disclaimer.htm" target="_blank" title="This will open a new window to the Web Site Disclaimer page">Disclaimer</a>
				</li>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/privacy_policy.htm" target="_blank" title="This will open a new window to the Privacy Policy page">Privacy</a>
				</li>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/securesite.htm" target="_blank" title="This will open a new window to the Web Site Security page">Security</a>
				</li>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/copyright.htm" target="_blank" title="This will open a new window to the Copyright page">Copyright</a>
				</li>
				<li>
					<a href="https://www.tax.ny.gov/help/tech/email_phishing.htm" target="_blank" title="This will open a new window to the Email/Phishing page">Email/Phishing</a>
				</li>
			</ul>
		</footer>
		<!-- ==================== -->
		<!-- UNIVERSAL FOOTER     -->
		<!-- ==================== -->
		<div class="unav-footer">
			<div class="unav-footer-contents clearfix">
				<div class="unav-flex-row">
					<div class="footer-logo clearfix">
                         <span class="nys-logo unav-footer-logo"></span>
                    </div>
					<div class="footer-links clearfix">
						<ul>
							<li>
								<a href="https://www.ny.gov/agencies">Agencies</a>
							</li>
							<li>
								<a href="https://www.ny.gov/mobileapps">App Directory</a>
							</li>
							<li>
								<a href="https://www.ny.gov/counties">Counties</a>
							</li>
							<li>
								<a href="https://www.ny.gov/events">Events</a>
							</li>
							<li>
								<a href="https://www.ny.gov/programs">Programs</a>
							</li>
							<li>
								<a href="https://www.ny.gov/services">Services</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="emp-field-instructions" id="emp-field-instructions">
		<div id="iMockup">
			<header>More information</header>
			<p>Sample iTag instructions</p>
		</div>
		<div id="iLastName">
			<header>Last name</header>
			<p>Legal Last Name</p>
		</div>
		<div id="iAssociate">
			<header>Associated ID</header>
			<p>Associated ID</p>
		</div>
		<div id="iSort">
			<header>Sort</header>
			<p>Specifiy Sort column and direction</p>
		</div>
		<div id="iTarget">
			<header>Target amount</header>
			<p>Target Amount is currency</p>
		</div>
		<div id="iDescibeOther">
			<header>Describe other</header>
			<p>Please describe what you mean by other</p>
		</div>
		<div id="iNameSearch">
			<header>Name search</header>
			<p>This is the composite to search a name</p>
		</div>
		<div id="iLiabilityPeriod">
			<header>Liability period</header>
			<p>What is the liability period of this filing</p>
		</div>
		<div id="iExpandable">
			<header>Expandable</header>
			<p>Tooltip in expandable!</p>
		</div>
	</div>
	<script id="require" src="../../dist/js/main.js"></script>
	<script type="text/javascript">
		require(['jquery', 'emp', 'uimockup', 'domReady!'], function($, emp, uiMockup) {
			// Elements in the page that need to be turned into a data store
			uiMockup.createPageDataStore(function(results) {
				emp.init();
			});
		});
	</script>
</body>

</html>
