<footer class="emp-global-footer orpts-theme">
    <ul>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/accessibility.htm" title="This will open a new window to the Web Site Accessibility page" target="_blank">Accessibility</a>
        </li>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/disclaimer.htm" title="This will open a new window to the Web Site Disclaimer page" target="_blank">Disclaimer</a>
        </li>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/privacy_policy.htm" title="This will open a new window to the Privacy Policy page" target="_blank">Privacy</a>
        </li>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/securesite.htm" title="This will open a new window to the Web Site Security page" target="_blank">Security</a>
        </li>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/copyright.htm" title="This will open a new window to the Copyright page" target="_blank">Copyright</a>
        </li>
        <li>
            <a href="https://www.tax.ny.gov/help/tech/email_phishing.htm" title="This will open a new window to the Email/Phishing page" target="_blank">Email/Phishing</a>
        </li>
    </ul>
</footer>
