<div class="cui-row emp-button-row">
    <div class="emp-col-full button-col emp-button-group cui-align-center">
        <button type="button" onclick="window.close();">Close Window</button>
    </div>
</div>
