<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10">
            <div class="cui-row">
                <div class="cui-col-small-12">
                    <p>
                        You have been successfully logged out.
                    </p>
                </div>
            </div>
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
