<div class="unav-agency-wrapper">
    <div class="unav-header">
        <div class="unav-header-links">
            <ul>
                <li>
                    <a href="https://ny.gov/services">Services</a>
                </li>
                <li>
                    <a href="https://www.governor.ny.gov/news">News</a>
                </li>
                <li>
                    <a href="https://ny.gov/agencies">Government</a>
                </li>
                <li>
                    <a href="https://ny.gov/local">Local</a>
                </li>
            </ul>
        </div>
        <div class="unav-primary-bar">
            <div class="unav-header-logo">
                <a href="#">
                    <span class="accessibly-hide-text">
                        New York State Home
                    </span>
                </a>
            </div>
            <div class="unav-toggle-arrow">
                <a href="#" role="button">
                    <span class="arrow"></span>
                    <span class="accessibly-hide-text">Expand Mobile Universal Menu</span>
                </a>
            </div>
        </div>
    </div>
</div>
