<div class="unav-footer">
    <div class="unav-footer-contents clearfix">
        <div class="unav-flex-row">
            <div class="footer-logo clearfix">
                <span class="nys-logo unav-footer-logo"></span>
            </div>
            <div class="footer-links clearfix">
                <ul>
                    <li>
                        <a href="https://www.ny.gov/agencies">Agencies</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/mobileapps">App Directory</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/counties">Counties</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/events">Events</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/programs">Programs</a>
                    </li>
                    <li>
                        <a href="https://www.ny.gov/services">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
