<div {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"form-lines-sections"}' extend=(formLineDetect this) style=this.style scope="form-line-section")) }}>
</div>