<button class="cui-icon emp-icon-help" title="More information" type="button">More information
    <div class="cui-hide-from-screen">
        {{#each this.help}}
            {{> _output this raw=true}}
        {{/each}}
    </div>
</button>