<div {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"emp-region", "aria-live":"polite"}' style=this.style collapse=this.collapse scope="region"))}}>

</div>
