<div class="expandable-header">
    {{#if secondaryText}}
        <button type="button" class="emp-pivote-table-expand">
            <div class="primary-title">
                <strong>{{primaryText}}</strong><br>
                <span>{{secondaryText}}</span>
            </div>
        </button>
    {{else}}
        <button type="button" class="emp-pivote-table-expand">
            <div class="primary-title">
                <strong>{{primaryText}}</strong>
            </div>
        </button>
    {{/if}}
    <span class="cui-hide-from-screen">Click to collapse or expand row contents</span>
</div>
