<div class="expandable-header">
    <button type="button" class="emp-pivote-table-expand">
        <div class="primary-title">
            <strong>{{primaryText}}</strong>
        </div>
        <div class="secondary-title">
            {{secondaryText}}
        </div>
    </button>
    <span class="cui-hide-from-screen">Click to collapse or expand row contents</span>
</div>
