<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10">
            <p>Your session has expired. For security reasons, we’ve logged you out of your account.</p>
            <p>To log back in and begin a new session, select Log In.</p>
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
<div class="cui-row button-row">
    <div class="cui-col-small-12 cui-align-center">
        <button type="button" onClick="javascript:window.location='{{url}}" class="cui-button-primary">
            Log In
        </button>
    </div>
</div>
