<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10 cui-align-center">
            <p>
                If you are receiving this message you currently do not have access to this application. To request access please visit <a>Requesting Access</a>.
            </p>
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>