<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10 cui-align-center">
            Your session has been closed. To reaccess your application, please <a href="{{url}}">login</a> again.
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
