<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10">
            You can only access this application through your Online Services account. If you are receiving this message, you have
            either attempted to use a bookmark without logging into your account, or you have timed out. Please log into your
            account to access this application.
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
