<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10">
            This application is either open in another window or was not properly closed during your last session. If it is open in
            another window, please return to that window to continue. Otherwise, to resume your current session, select <strong>Continue</strong> to
            restart your session in this window.
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
<div class="cui-row button-row">
    <div class="cui-col-small-12">
        <button type="button" onClick="javascript:window.location='invalidSessionError.jsp" class="cui-button-primary">
            Continue
        </button>
    </div>
</div>
