<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10">
            <div class="cui-row">
                <div class="cui-col-small-12">
                    <p>
                        The Department of Taxation and Finance conducts information technology maintenance during the following time periods:
                    </p>
                </div>
            </div>
            <div class="cui-row">
                <div class="cui-col-medium-9 cui-hide-col-small">
                    <p class="cui-align-right cui-no-wrap cui-no-padding">
                        Monday through Saturday: 4:00 am - 6:00 am
                    </p>
                    <p class="cui-align-right cui-no-wrap">
                        Sundays: 9:00 pm - 10:00 pm
                    </p>
                </div>
                <div class="cui-col-small-9 cui-hide-col-medium cui-hide-col-large">
                    <p class="cui-no-wrap cui-no-padding">
                        Monday through Saturday: 4:00 am - 6:00 am
                    </p>
                    <p class="cui-no-wrap">
                        Sundays: 9:00 pm - 10:00 pm
                    </p>
                </div>
            </div>
            <div class="cui-row">
                <div class="cui-col-small-12">
                    <p>
                        If you have received this message during one of these time periods, please try again after the maintenance
                        is completed
                        and all services are restored.
                    </p>
                </div>
            </div>
            <div class="cui-row">
                <div class="cui-col-small-12">
                    <p>
                        If you are receiving this message outside of these time periods, we invite you to inform us of the problem.
                        Please
                        include information concerning the specific services you are experiencing issues with. This feedback will
                        assist us in
                        improving the performance of our Web site and electronic services.
                    </p>
                </div>
            </div>
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
