<div class="error-page-overrides">
    <div class="cui-row">
        <div class="cui-col-small-1"></div>
        <div class="cui-col-small-10 cui-align-center">
            Your session has expired. Please <a href="{{url}}">click here</a> to log in again.
        </div>
        <div class="cui-col-small-1"></div>
    </div>
</div>
