<ul {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"emp-static-tree"}' expandRoot=this.root)) }}>
    {{#each this.items}}
        <li>
            {{#if this.items}}
                <span {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"emp-expanding-control"}' collapseChildren=this.collapse scope="expandable-control")) }}>
                    {{this.text}}
                </span>
                {{> _tree this scope="tree" root=false }}
            {{else}}
                {{~> (getPartialName this.template) this scope="treeItem" ~}}
            {{/if}}
        </li>
    {{/each}}
</ul>