// Global

$menujs-vendor:      "cui-menujs";  // Not user-definable. Must match `NAMESPACE` in the plugin
$menujs-custom-class: "" !default; // A custom class that will prefix all selectors (e.g. to separate multiple themes on the same page)
$menujs-namespace:   "cui" !default;
@if $menujs-custom-class != "" {
    $menujs-namespace: ".#{$menujs-vendor}" + "." + "#{$menujs-custom-class}";  // Results in `.cui-menujs.foobar`
    // $menujs-namespace: "blah";
}
@else {
    $menujs-custom-class: "*" !default;
    $menujs-namespace: ".#{$menujs-vendor}"; // Just plain `.cui-menujs`
}

// General

$menujs-font-family: inherit !default;
$menujs-font-size:   inherit !default;
$menujs-line-height: normal !default;
$menujs-menu-height: inherit !default;
$menujs-use-group-triangle: true !default;
$menujs-zindex-base: 1 !default;
$menujs-zindex-group: 20 !default; // Higher than sticky table headers which are currently `10` (CP 1/12/2016)

// Icons

$menujs-icon-size:   16px !default;       // Just set this if the icons are square/circular
$menujs-icon-width:  $menujs-icon-size !default; // Set individual dimensions for rectangular/elliptical icons
$menujs-icon-height: $menujs-icon-size !default;

$menujs-icon-image-closed:                       "" !default;
$menujs-icon-image-closed-hires:                 "" !default;
$menujs-icon-image-closed-hover:                 "" !default;
$menujs-icon-image-closed-hover-hires:           "" !default;
$menujs-icon-image-opened:                       "" !default;
$menujs-icon-image-opened-hires:                 "" !default;
$menujs-icon-image-opened-hover:                 "" !default;
$menujs-icon-image-opened-hover-hires:           "" !default;
$menujs-icon-image-closed-top-level:             $menujs-icon-image-closed !default;
$menujs-icon-image-closed-top-level-hires:       $menujs-icon-image-closed-hires !default;
$menujs-icon-image-closed-top-level-hover:       "" !default;
$menujs-icon-image-closed-top-level-hover-hires: "" !default;
$menujs-icon-image-opened-top-level:             $menujs-icon-image-opened !default;
$menujs-icon-image-opened-top-level-hires:       $menujs-icon-image-opened-hires !default;
$menujs-icon-image-opened-top-level-hover:       "" !default;
$menujs-icon-image-opened-top-level-hover-hires: "" !default;

// Items

$menujs-item-text-color:       #333 !default;
$menujs-item-bg-color:         #fff !default;
$menujs-item-text-color-hover: darken($menujs-item-text-color, 10%) !default;
$menujs-item-bg-color-hover:   darken($menujs-item-bg-color, 10%) !default;
$menujs-item-text-color-focus: $menujs-item-text-color-hover !default;
$menujs-item-bg-color-focus:   $menujs-item-bg-color-hover !default;
$menujs-item-font-weight:      normal !default;

$menujs-item-border-color:     #666 !default;
$menujs-item-border-width:     1px !default;
$menujs-item-border-style:     solid !default;
$menujs-item-border:           $menujs-item-border-width $menujs-item-border-style $menujs-item-border-color !default;
$menujs-item-border-radius:    0 !default;

$menujs-icon-triangle-size:        6px !default;
$menujs-icon-triangle-color:       $menujs-item-text-color !default;
$menujs-icon-triangle-color-hover: $menujs-item-text-color-hover !default;

// Item padding (incorporates icon size)

$menujs-item-padding-vertical:   4px !default;
$menujs-item-padding-horizontal: 8px !default;
$menujs-item-padding-top:        $menujs-item-padding-vertical !default;
$menujs-item-padding-bottom:     $menujs-item-padding-vertical !default;
$menujs-item-padding-left:       $menujs-item-padding-horizontal !default;
$menujs-item-padding-right:      $menujs-item-padding-horizontal !default;
$menujs-item-padding-right-with-icon: ($menujs-item-padding-right + $menujs-icon-width) !default;
$menujs-item-padding-right-with-triangle: ($menujs-item-padding-right + ($menujs-icon-triangle-size * 2)) !default;

@if $menujs-use-group-triangle == true {
    $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right-with-triangle $menujs-item-padding-bottom $menujs-item-padding-left !default;
}
@elseif $menujs-icon-image-closed != "" {
    $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right-with-icon $menujs-item-padding-bottom $menujs-item-padding-left !default;
}
@else {
    $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right $menujs-item-padding-bottom $menujs-item-padding-left !default;
}

// // Item padding for top-level items (incorporates icon size)

// $menujs-item-padding-vertical:   0 !default;
// $menujs-item-padding-horizontal: 8px !default;
// $menujs-item-padding-top:        $menujs-item-padding-vertical !default;
// $menujs-item-padding-bottom:     $menujs-item-padding-vertical !default;
// $menujs-item-padding-left:       $menujs-item-padding-horizontal !default;
// $menujs-item-padding-right:      $menujs-item-padding-horizontal !default;
// $menujs-item-padding-right-with-icon: ($menujs-item-padding-right + $menujs-icon-width) !default;
// $menujs-item-padding-right-with-triangle: ($menujs-item-padding-right + ($menujs-icon-triangle-size * 2)) !default;

// @if $menujs-use-group-triangle == true {
//     $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right-with-triangle $menujs-item-padding-bottom $menujs-item-padding-left !default;
// }
// @elseif $menujs-icon-image-closed != "" {
//     $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right-with-icon $menujs-item-padding-bottom $menujs-item-padding-left !default;
// }
// @else {
//     $menujs-item-padding: $menujs-item-padding-top $menujs-item-padding-right $menujs-item-padding-bottom $menujs-item-padding-left !default;
// }

// Transitions for hover effects (not open/close animations)
$menujs-item-transition-duration: 70ms !default;
$menujs-item-transition-function: ease-in !default;

// Parent items of opened groups

$menujs-item-open-color:          darken($menujs-item-text-color, 20%) !default;
$menujs-item-open-bg-color:       darken($menujs-item-bg-color, 20%) !default;
$menujs-item-open-shadow:         none !default;

$menujs-item-open-color-hover:    $menujs-item-open-color !default;
$menujs-item-open-bg-color-hover: $menujs-item-open-bg-color !default;
$menujs-item-open-shadow-hover:   0 0 4px 2px rgba(255, 255, 255, 0.3) inset !default;

// Groups

$menujs-group-width:         "" !default;
$menujs-group-min-width:     12em !default;
$menujs-group-border-color:  rgba($menujs-item-text-color, 0.25) !default;
$menujs-group-border-width:  1px !default;
$menujs-group-border-style:  solid !default;
$menujs-group-border:        $menujs-group-border-color $menujs-group-border-width $menujs-group-border-style !default;

$menujs-group-shadow-blur:   4px !default;
$menujs-group-shadow-spread: -2px !default;
$menujs-group-shadow-color:  darken($menujs-item-open-bg-color, 10%) !default;

// Special items

$menujs-item-disabled-style:    italic !default;
$menujs-item-disabled-color:    lighten($menujs-item-text-color, 15%) !default;
$menujs-item-disabled-bg-color: $menujs-item-bg-color !default;
$menujs-item-disabled-cursor:   default !default;
$menujs-item-disabled-hover-text-decoration: none !default;

$menujs-item-filler-style:      normal !default;
$menujs-item-filler-color:      $menujs-item-text-color !default;
$menujs-item-filler-bg-color:   $menujs-item-bg-color !default;
$menujs-item-filler-cursor:     default !default;

// Link that does not control a group (i.e. a leaf)
$menujs-link-text-decoration:       none !default;
$menujs-link-hover-text-decoration: underline !default;
$menujs-link-focus-text-decoration: $menujs-link-hover-text-decoration !default;

// Link that controls a group
$menujs-group-link-text-decoration:       none !default;
$menujs-group-link-text-decoration-hover: none !default;

// `<span>` inside a line divider
$menujs-item-divider-line-rule-border-color: darken($menujs-item-border-color, 15%) !default;

// Vertical menu

$menujs-include-vertical-menus: false !default; // Setting this to `false` makes the resulting CSS notably smaller
$menujs-item-vertical-color:    darken($menujs-item-text-color, 20%) !default;
$menujs-item-vertical-bg-color: darken($menujs-item-bg-color, 20%) !default;

// Vertical level 1 (inset) group
$menujs-vertical-group-1-margin-top:    0.25em !default;
$menujs-vertical-group-1-margin-right:  0.5em !default;
$menujs-vertical-group-1-margin-bottom: $menujs-vertical-group-1-margin-top !default;
$menujs-vertical-group-1-margin-left:   $menujs-vertical-group-1-margin-right !default;
$menujs-vertical-group-1-margin:        $menujs-vertical-group-1-margin-top $menujs-vertical-group-1-margin-right $menujs-vertical-group-1-margin-bottom $menujs-vertical-group-1-margin-left !default;

// Animation

$menujs-fade-in-animation-duration:  150ms !default;
$menujs-fade-in-animation-name:      "cuiMenuJSFadeIn" !default;
$menujs-fade-out-animation-duration: $menujs-fade-in-animation-duration / 3 !default;
$menujs-fade-out-animation-name:     "cuiMenuJSFadeOut" !default; // Must match `EVENT_NAMES.animation.fadeOut` in the JS

$menujs-vertical-animation-duration: 100ms !default;
$menujs-vertical-animation-function: ease-in !default;

// General

$menujs-allow-user-text-selection: false !default; // Prevents selection when the user accidental moves the mouse while clicking
