// Core settings
@import "../../../../../cui/scss/_settings";
@import "../../../../../cui/scss/_utilities/_mixins";
// Implementer settings
@import "../../_settings";
// Project settings
@import "../../../../scss/_settings";
// Component settings
@import "_utilities/_mixins";

// Component styles:
$emp-prefs-font-slider-bg-color-right: darken(#888, 15%);
$emp-prefs-font-slider-bg-color-left: #888;

$emp-prefs-font-slider-width: 240px;
$emp-prefs-font-slider-legend-width: $emp-prefs-font-slider-width - 20px; // `-20px` makes the triangle a little narrower so the thumb covers it completely when dragged to the right

$emp-prefs-font-slider-thumb-size: 32px;
$emp-prefs-font-slider-thumb-border-radius: 50%;

.emp-prefs-modal {
    max-height: 95%;

    // Prevent the elements in this modal from being affected by the user's font size changes because it mucks with the layout. Not sure whether to fix this modal, or just scope the fixed font sizing to the font slider (since it's weird that it jumps around while you drag it). (CP 1/11/2016)
    font-size: 16px !important;

    .cui-modal-content {
        overflow-y: auto; // Allow scrolling when it's too tall to fit the viewport
        overflow-x: hidden;
    }

    footer {
        text-align: right;
        font-size: 0.9em;
        font-style: italic;
        padding: 0.5em 0;
    }
}

.emp-prefs-section {
    margin-top: 16px;
    border-top: 1px solid #777;

    h1 {
        font-size: 24px !important; // Need to use pixels and `!important` for headers so they don't scale when the font size is changed because it messes with the positioning of fields in the prefs modal
    }

    h2 {
        font-size: 20px !important;
        margin: 0 0 4px 0;
    }

    legend {
        font-size: 16px !important;
    }

    label {
    }

    input {
    }
}

.emp-prefs-fontsize { // Also has `.emp-prefs-section`
    position: relative;

    .emp-prefs-field {
        position: relative;
        // We need to set a fixed width because the custom range styles require `width: 100%` to work properly, yet we need to know how large 100% is so we can style the triangle
        width: $emp-prefs-font-slider-width;
        min-height: 50px;
    }

    // Custom input range styles
    // https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

    input[type=range] {
        position: relative; // To establish a new stacking context for `z-index`
        z-index: 3;

        // Override browser default `input[type=range]` styles
        -webkit-appearance: none;
        width: 100%;
        background: transparent;

        // Override default input styles:
        border: none;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            outline: none;
        }
    }

    input[type=range]::-webkit-slider-runnable-track {
        cursor: pointer;
        background: transparent;
        animate: 0.2s;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
    }

    input[type=range]::-webkit-slider-thumb {
        border: 1px solid $cui-input-border-color;
        height: $emp-prefs-font-slider-thumb-size;
        width: $emp-prefs-font-slider-thumb-size;
        border-radius: $emp-prefs-font-slider-thumb-border-radius;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;

        .theme-teal & {
            @import "../../../../scss/_theme_teal.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-lilypad & {
            @import "../../../../scss/_theme_lilypad.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-eggplant & {
            @import "../../../../scss/_theme_eggplant.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-cobalt & {
            @import "../../../../scss/_theme_cobalt.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-hazel & {
            @import "../../../../scss/_theme_hazel.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-contrast & {
            @import "../../../../scss/_theme_contrast.scss";
            border: 1px solid $cui-input-border-color;
        }
    }

    input[type=range]::-moz-range-track {
        cursor: pointer;
        background: transparent;
        animate: 0.2s;
    }

    input[type=range]::-moz-range-thumb {
        border: 1px solid $cui-input-border-color;
        height: $emp-prefs-font-slider-thumb-size;
        width: $emp-prefs-font-slider-thumb-size;
        border-radius: $emp-prefs-font-slider-thumb-border-radius;
        background: #ffffff;
        cursor: pointer;

        .theme-teal & {
            @import "../../../../scss/_theme_teal.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-lilypad & {
            @import "../../../../scss/_theme_lilypad.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-eggplant & {
            @import "../../../../scss/_theme_eggplant.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-cobalt & {
            @import "../../../../scss/_theme_cobalt.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-hazel & {
            @import "../../../../scss/_theme_hazel.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-contrast & {
            @import "../../../../scss/_theme_contrast.scss";
            border: 1px solid $cui-input-border-color;
        }
    }

    input[type=range]::-ms-track {
        background: transparent; // Hides the slider so custom styles can be added
        width: 100%;
        cursor: pointer;
        animate: 0.2s;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: transparent;
    }

    input[type=range]::-ms-fill-upper {
        background: transparent;
    }

    input[type=range]::-ms-thumb {
        border: 1px solid $cui-input-border-color;
        height: $emp-prefs-font-slider-thumb-size;
        width: $emp-prefs-font-slider-thumb-size;
        border-radius: $emp-prefs-font-slider-thumb-border-radius;
        background: #ffffff;
        cursor: pointer;
        margin-top:5px;

        .theme-teal & {
            @import "../../../../scss/_theme_teal.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-lilypad & {
            @import "../../../../scss/_theme_lilypad.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-eggplant & {
            @import "../../../../scss/_theme_eggplant.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-cobalt & {
            @import "../../../../scss/_theme_cobalt.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-hazel & {
            @import "../../../../scss/_theme_hazel.scss";
            border: 1px solid $cui-input-border-color;
        }

        .theme-contrast & {
            @import "../../../../scss/_theme_contrast.scss";
            border: 1px solid $cui-input-border-color;
        }
    }

    input[type=range]:focus::-ms-fill-lower {
        background: transparent;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: transparent;
    }

    // Legend

    .emp-prefs-fontsize-legend-smallA {
        font-size: 8px !important; // Don't want this to be overridden by other styles
    }

    .emp-prefs-fontsize-legend-largeA {
        font-size: 20px !important; // Don't want this to be overridden by other styles
    }

    // Triangle background
    .emp-prefs-fontsize-legend {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 1;
    }

    .emp-prefs-fontsize-legend-right {
        top: 34px;
        left: 10px; // Make sure the thumb covers the triangle completely when dragged to the left
        border-width: 0 0 8px 110px; // 0 0 14px ($emp-prefs-font-slider-legend-width / 2);
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $emp-prefs-font-slider-bg-color-right rgba(255, 255, 255, 0);
        z-index: 2;
    }

    .emp-prefs-fontsize-legend-left {
        top: 20px;
        border-width: 0 0 28px $emp-prefs-font-slider-legend-width; // Twice the height and width as the other triangle
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $emp-prefs-font-slider-bg-color-left rgba(255, 255, 255, 0);
    }
}

// Label and slider side-by-side
@media (min-width: 480px) {
    .emp-prefs-fontsize { // This element also has `.emp-prefs-section`

        // Field
        .emp-prefs-field {
            display: flex;
            width: 360px;
            align-items: center;
            justify-content: center;
        }

        label {
            flex: 0 1 100px;
            height: 32px;
            line-height: 32px;
        }

        input[type=range] {
            flex: 0 1 260px;
            padding-top: 0;
            padding-bottom: 0;
        }

        // Legend

        .emp-prefs-legend {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 44px;
            left: 40px;
            width: 296px; // Magic number, just eye-balled it
        }

        .emp-prefs-fontsize-legend-smallA {
            font-size: 8px !important; // Don't want this to be overridden by other styles
            flex: 0 1 auto;
            min-width:20px;
            align-self: flex-end;
        }

        .emp-prefs-fontsize-legend-largeA {
            font-size: 32px !important; // Don't want this to be overridden by other styles
            flex: 0 1 auto;
            min-width:50px;
            align-self: flex-end;
            padding-left: 20px; // Prevent the thumb from covering the text when it's dragged all the way to the right
        }

        .emp-prefs-fontsize-legend-right {
            top: 20px;
            left: 29px;
            border-left-width: 58px; // Half the width of the other triangle
            flex: 0 1 100%;
        }

        .emp-prefs-fontsize-legend-left {
            position: relative;
            top: -2px;
            border-left-width: 240px; // Width of slider minus 20px so the thumb overlaps the end
            flex: 0 1 100%;
        }
    }
}

// Theme

.emp-prefs-theme {
    ul {
        display: flex;
        margin-top: 10px;
        list-style: none outside none;

        li {
            flex: 1 1 72px;
            display: block;
        }
    }

    legend {
        margin-bottom: 8px;
    }

    // `<label>`s that appear to be buttons
    .emp-prefs-theme-item { // This is an `<li>`
        display: table-cell;
        width: 72px;
        height: 72px;
        vertical-align: middle;
        line-height: 1.5;
        text-align: center;
        background: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;

        &:not(:first-of-type) { // All but the first `<li>`
            margin-left: 12px; // Twice the width of the selection outline
        }

        &[for*="teal"] {
            @import "../../../../scss/_theme_teal.scss";
            background: $cui-button-primary-bg-color;
            color: white;
        }

        &[for*="lilypad"] {
            @import "../../../../scss/_theme_lilypad.scss";
            background: $emp-tp-header-bg-color;
        }

        &[for*="eggplant"] {
            @import "../../../../scss/_theme_eggplant.scss";
            background: $cui-button-primary-bg-color;
            color: white;
        }

        &[for*="cobalt"] {
            @import "../../../../scss/_theme_cobalt.scss";
            background: $cui-button-primary-bg-color;
            color: white;
        }

        &[for*="hazel"] {
            @import "../../../../scss/_theme_hazel.scss";
            background: $cui-button-primary-bg-color;
            color: white;
        }

        &[for*="contrast"] {
            @import "../../../../scss/_theme_contrast.scss";
            background: $cui-button-primary-bg-color;
            color: white;
        }
    }

    input {
        position: absolute;
        top: -999em;
        left: -999em;
    }

    // Highlight checked items
    input:checked + .emp-prefs-theme-item {
        outline: 6px solid #999;
    }
}

.emp-prefs-tables {
    & > label {
        display: block;
        font-size: 16px;
    }

    p {
        /*font-size: inherit;*/
    }

    button {
        display: block;
    }
}
